<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="center-block">
    <div class="row">
    	<div class="text-center">
    		<img class="center img-responsive" src="{{url_for('static', filename='img/blockchain.png')}}" style="margin: 0 auto;">
    	</div>
    </div>

    <div class="row">
        <div class="text-center">
    	   <p>The Satoshi Nakamoto Institute (SNI) was founded in November 2013.</p>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
    	   <h2>The Founders</h2>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
    		<img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/bitstein.jpg')}}" style="height:200px" />
    		<p><a href="http://bitste.in/" target="_blank">Michael Goldstein</a>, <em>President</em></p>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
    		<img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/daniel.jpg')}}" style="height:200px" />
    		<p><a href="http://themisescircle.org/blog/author/menger/" target="_blank">Daniel Krawisz</a>, <em>Director</em></p>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
    		<img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/pierre.png')}}" style="height:200px" />
    		<p><a href="http://rochard.org" target="_blank">Pierre Rochard</a>, <em>Treasurer</em></p>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h2>Alma Mater</h2>
            <p><a href="http://themisescircle.org/">The Mises Circle</a> at the University of Texas at Austin.</p>
        </div>
    </div>

</div>
{% endblock %}