<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="center-block">
    <div class="row">
        <div class="text-center">
            <img class="center img-responsive" src="{{url_for('static', filename='img/blockchain.png')}}" style="margin: 0 auto;">
        </div>
    </div>

    <div class="row">
        <div class="text-center">
           <p>The Satoshi Nakamoto Institute (SNI) was founded in November 2013.</p>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="row">
        <div class="text-center">
            <h2>
                History
            </h2>
        </div>
    </div>
        <div class="text-justify">
            <p>
                On January 3rd, 2009, an anonymous computer programmer (or programmers) going by the name Satoshi Nakamoto mined the first block of the Bitcoin blockchain, kickstarting the world's first fully realized crypto-currency. Satoshi did not build Bitcoin in a vacuum, however. Instead he stood upon the shoulders of cryptographic giants and free software gurus. From Timothy C. May and the Cypherpunks to Richard Stallman, Nick Szabo and beyond, the foundations of Bitcoin were built by a distributed network of innovators seeking to use cryptographic and open source software to bring freedom to an unfree world. Bitcoin itself is only the beginning. The Satoshi Nakamoto Institute will learn from the past and build toward the future, through scholarship, community, and coding.
            </p>
        </div>
        <div class="text-center">
            <h2>
                Education
            </h2>
        </div>
        <div class="text-justify">
            <p>
                The Satoshi Nakamoto Institute is eager to share with the world the best ideas past, present, and future in cryptography, distributed networks, economic freedom, and freedom of information. We are dedicated to curating the best primary source literature that challenge the status quo through technological innovation.
            </p>
        </div>

        <div class="text-center">
            <h2>
                Future
            </h2>
        </div>
        <div class="text-justify">
            <p>
                Bitcoin is not the beginning, nor is it the end. SNI wants to not just think about but build the future through <a href="http://www.fsf.org/">free software development</a>.
            </p>
        </div>
</div>

<div class="col-lg-6">
    <div class="row">
        <div class="text-center">
           <h2>
                The Board
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/bitstein.jpg')}}" style="width:200px" />
            <p>
                <a href="http://bitste.in/" target="_blank">Michael Goldstein</a><br>
                President
            </p>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/daniel.jpg')}}" style="width:200px" />
            <p>
                <a href="http://themisescircle.org/blog/author/menger/" target="_blank">Daniel Krawisz</a><br>
                Director
            </p>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/pierre.png')}}" style="width:200px" />
            <p>
                <a href="http://rochard.org" target="_blank">Pierre Rochard</a><br>
                Treasurer</p>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/cody.jpg')}}" style="width:200px" />
            <p>
                <a href="http://defdist.org/" target="_blank">Cody Wilson</a><br>
                Director of Communications
            </p>
        </div>
    </div>
</div>

{% endblock %}
