<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
{{author.first}} {{author.middle}} {{author.last}} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">{{author.first}} {{author.middle}} {{author.last}}</h1>
  {% if lit|length != 0 %}
  <h3>Literature</h3>
  {% for li in lit %}
  <hr>
  <a href="{{url_for('docinfo', slug=li.slug)}}">{{li.title}}</a> - {{li.date}}
  {% endfor %}
  <div class="my-3 text-center">
    <a type="button" class="btn btn-light" href="{{url_for('literature')}}">Go to Literature</a>
  </div>
  {%endif%}

  {% if res|length != 0 %}
  <h3>Research</h3>
  {% for re in res %}
  <hr>
  <a href="{{url_for('researchdocinfo', slug=re.slug)}}">{{re.title}}</a> - {{re.date}}
  {% endfor %}
  <div class="my-3 text-center">
    <a type="button" class="btn btn-light" href="{{url_for('research')}}">Go to Research</a>
  </div>
  {%endif%}

  {% if mem|length != 0 %}
  <h3>The Memory Pool</h3>
  {% for me in mem %}
  <hr>
  {% if me.series %}
  <h5 class="text-muted">{{me.series}} {% if not me.series.chapter_title %}(#{{me.series_index}}){% endif %}</h5>
  {% endif %}
  <h4>
    <a href="{{url_for('blogpost', slug=me.slug)}}">
      {% if me.series and me.series.chapter_title %}
      Chapter {{me.series_index}}:
      {% endif %}
      {{me.title}}</a> - {{me.date.strftime('%B %d, %Y')}}</h4>
  <p><em>{{me.excerpt}}</em></p>
  {% endfor %}
  <div class="my-3 text-center">
    <a type="button" class="btn btn-light" href="{{url_for('blog')}}">Go to the Memory Pool</a>
  </div>
  {%endif%}

</div>
{% endblock %}
