<!-- extend base layout -->
{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block title %}
{% if bp.series %}
Chapter {{bp.series_index}}: {{ page.meta.translated_title or bp.title }} | {{ bp.series }} | Satoshi Nakamoto Institute
{% else %}
{{ page.meta.translated_title or bp.title }} | Satoshi Nakamoto Institute
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="border-bottom mb-3 pb-4 text-center">
		{% if bp.series %}
		<h3 class="text-black-50">{{bp.series}}</h3>
		{% endif %}
		<h1>{% if bp.series %}Chapter {{bp.series_index}}: {% endif %}{{ page.meta.translated_title or bp.title }}</h1>
		<h2 class="text-muted">{{bp.author[0].first}} {{bp.author[0].middle}} {{bp.author[0].last}}</h2>
    <h4>{{bp.date|dateformat(lang=lang.ietf)}}</h4>
		{% if page.meta.original_link %}
		<p>
      <em>First published on <a href="{{ page.meta.original_link }}">{{ page.meta.original_site }}</a></em>
    </p>
		{% endif %}
		{% if page.meta.image %}
			{% if not page.meta.original %}
			<br>
			{% endif %}
			<img class="img-fluid rounded d-block mx-auto" alt="{{page.meta.image_alt}}" src="/static/img/mempool/{{bp.slug}}/{{page.meta.image}}"/>
		{% endif %}
	</div>
	{% if rtl %}
	<div class="text-right" dir="rtl">
	{% endif %}
  <span id="CONTENT" class="blogpost-content">{{ page.html|safe }}</span>
	{% if rtl %}
	</div>
	{% endif %}
	{% if translations or lang.ietf != 'en' %}
		<hr>
		{% if lang.ietf != 'en' %}
		<p>{{ helpers.print_translation_info(page, translators) }}</p>
		{% endif %}
		<p>{{ helpers.print_translation_links(bp, lang, translations) }}</p>
	{% endif %}
	<div class="text-center my-4">
		<a type="button" class="btn btn-light" href="{{url_for('blog')}}">
			Back to the Memory Pool
		</a>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	   	var disqus_shortname = 'nakamotoinstitute'; // required: replace example with your forum shortname
	   	{% if lang == 'en' %}
	   		var disqus_identifier = '{{bp.slug}}';
	   		var disqus_title = '{{bp.title}}';
	   		var disqus_url = "http://nakamotoinstitute.org/mempool/{{bp.slug}}/";
	   	{% else %}
	   		var disqus_identifier = '{{bp.slug}}-{{lang}}';
	   		var disqus_title = '{{bp.title}} ({{lang}})'
	   		var disqus_url = "http://nakamotoinstitute.org/mempool/{{bp.slug}}/{{lang}}/";
	   	{% endif %}

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

{% endblock %}
