<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
The Memory Pool | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
  <div class="row">
    <div class="text-center">
      <h1>The Memory Pool</h1>
      <p>
        Where ideas wait to be mined into the block chain of the collective conscience<br>
        <em>Some transactions may be invalid</em><br>
        <a href="{{url_for('atomfeed')}}">Atom Feed</a>
      </p>
    </div>
  </div>

      {% for bp in bps %}
      <hr>
      <h3>
        <a href="{{url_for('blogpost', slug=bp.slug)}}">
            {{bp.title}}
        </a>
        <p>
        <small>
          <a href="{{url_for('author', authslug=bp['author'][0].slug)}}">{{bp.author[0].first}} {{bp.author[0].middle}} {{bp.author[0].last}}</a> - {{bp.date.strftime('%B %d, %Y')}}
        </small>
        </p>
      </h3>
        <p>
          {{bp.excerpt}}
        </p>
      {% endfor %}

{% endblock %}