<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
The Memory Pool | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-4">
    <h1>The Memory Pool</h1>
    <p>Where ideas wait to be mined into the block chain of the collective conscience<br><em>Some transactions may be invalid</em><br><a href="{{url_for('atomfeed')}}">Atom Feed</a></p>
  </div>

  {% for bp in bps %}
  <hr>
  {% if bp.series %}
    <h5 class="text-muted">{{bp.series}} {% if not bp.series.chapter_title %}(#{{bp.series_index}}){% endif %}</h5>
  {% endif %}
  <h4 class="{% if bp.series %}series{% endif %}">
    <a href="{{url_for('blogpost', slug=bp.slug)}}">{% if bp.series and bp.series.chapter_title %}Chapter {{bp.series_index}}: {% endif %}{{bp.title}}</a>
  </h4>
  <p class="text-muted">
    <a href="{{url_for('author', authslug=bp['author'][0].slug)}}">{{bp.author[0].first}} {{bp.author[0].middle}} {{bp.author[0].last}}</a> - {{bp.added.strftime('%B %-d, %Y')}}
      {% if bp.date != bp.added %}(Originally published {{bp.date.strftime('%B %-d, %Y')}}){% endif %}
  </p>
    <p>
      {{bp.excerpt}}
    </p>
    {% if bp.translations|length > 0 %}
    <p>
      Also available in:
      {% for t in bp.translations|sort(attribute='language.name') %}
        <a href="{{url_for('blogposttrans', slug=bp.slug, lang=t.language.ietf)}}">{{t.language.name}}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </p>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
