<!-- extend base layout -->
{% extends "blogpost.html" %}

{% block title %}
{% if bp.series %}
Chapter {{bp.series_index}}: {{ page.meta.translated_title or bp.title }} | {{ bp.series }} | Satoshi Nakamoto Institute
{% else %}
{{ page.meta.translated_title or bp.title }} | Satoshi Nakamoto Institute
{% endif %}
{% endblock %}

{% import "helpers.html" as helpers %}
{% block post %}
<div class="blogpost col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="page-header">
		<h1 class="text-center">
			{% if bp.series %}
				<div class="series-title">{{bp.series}}</div>
				Chapter {{bp.series_index}}: {% endif %}
	    {{ page.meta.translated_title or bp.title }}
			<br>
			<small>{{bp.author[0].first}} {{bp.author[0].middle}} {{bp.author[0].last}}</small>
		</h1>
    <h4 class="text-center">{{bp.date|dateformat(lang=lang)}}</h4>
		{% if page.meta.original_link %}
		<p class="text-center">
      <em>First published on <a href="{{ page.meta.original_link }}">{{ page.meta.original_site }}</a></em>
    </p>
		{% endif %}
		{% if page.meta.image %}
			{% if not page.meta.original %}
			<br>
			{% endif %}
		<p>
			<img class="img-responsive center-block img-rounded" alt="{{page.meta.image_alt}}" src="/static/img/mempool/{{bp.slug}}/{{page.meta.image}}"/>
		</p>
		{% endif %}
	</div>
	{% if rtl %}
	<div dir="rtl">
	{% endif %}
  {{ page.html|safe }}
	{% if rtl %}
	</div>
	{% endif %}

</div>
{%endblock%}
