<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
{{series.title }} | Mempool Series | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<!--suppress ALL -->
<div class="container">
  <div class="text-center mb-4">
    <h1>{{series.title}}</h1>
    {% set author = series.blogposts[0].author[0] %}
    <h2 class="text-muted">{{author.first}} {{author.middle}} {{author.last}}</h2>
  </div>
  {% for bp in series.blogposts|reverse %}
  <hr>
  <h4 class="{% if bp.series %}series{% endif %}">
    <span class="text-muted">{% if not bp.series.chapter_title %}#{{bp.series_index}} – {% endif %}</span><a href="{{url_for('blogpost', slug=bp.slug)}}">{% if bp.series and bp.series.chapter_title %}Chapter {{bp.series_index}}: {% endif %}{{bp.title}}</a>
  </h4>
  <p class="text-muted">
    {{bp.date.strftime('%B %-d, %Y')}}
    {% if bp.date != bp.added %}(Added {{bp.added.strftime('%B %-d, %Y')}}){% endif %}
  </p>
    <p>
      {{bp.excerpt}}
    </p>
    {% if bp.translations|length > 0 %}
    <p>
      Also available in:
      {% for t in bp.translations|sort(attribute='language.name') %}
        <a href="{{url_for('blogposttrans', slug=bp.slug, lang=t.language.ietf)}}">{{t.language.name}}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </p>
    {% endif %}
  {% endfor %}
  <div class="text-center my-4">
		<a type="button" class="btn btn-light" href="{{url_for('blog')}}">
			Back to the Memory Pool
		</a>
	</div>
{% endblock %}
