<!-- extend base layout -->
{% extends "blogpost.html" %}
{% import "helpers.html" as helpers %}
{% block post %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="page-header">
		<h1 class="text-center">
      {{ bp.title }}
			<br>
			<small>{{bp.author[0].first}} {{bp.author[0].middle}} {{bp.author[0].last}}</small>
		</h1>
    <h4 class="text-center">{{bp.date.strftime('%B %d, %Y')}}</h4>
    <br>
		<p>
			<img class="img-responsive center-block img-rounded" alt="{{page.meta.image_alt}}" src="/static/img/mempool/{{bp.slug}}/{{page.meta.image}}"/>
		</p>
	</div>
  {{ page.html|safe }}
	{% if page.meta.btc_address %}
  <div class = "text-center">
    <p>
      <a class="btn btn-primary" href="bitcoin:{{page.meta.btc_address}}">
        Donate to {{bp.author[0].first}}
      </a>
    </p>
  </div>
	{% endif %}

</div>
{%endblock%}
