<!-- extend base layout -->
{% extends "base.html" %}
{% block title %}
Code | Satoshi Nakamoto Institute
{% endblock %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <h1 class="text-center">Code</h1>
  <p class="text-center">
    This page contains files for the first three available Bitcoin codebases written by Satoshi Nakamoto. Version control and releases from v0.1.5 onward can be viewed on the <a href="https://github.com/bitcoin/bitcoin/releases">Bitcoin GitHub repository</a>.
  </p>
  <hr>

  <h2>Bitcoin Pre-Release</h2>
  <dl class="dl-horizontal">
    <dt>Date</dt>
    <dd>November 16, 2008</dd>
    <dt>Download</dt>
    <dd>
      <ul class="list-unstyled">
        <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-nov08.tgz"><strong>bitcoin-nov08.tgz</strong></a> (Compressed by SNI)</li>
        <ul class="list-unstyled" style="padding-left:2.5em">
          <li>MD5: <code>6884e5046285913c1a93ae071bcc763a</code></li>
          <li>SHA1: <code>410bc2e605e6b3152ba799967020b9a64516243a</code></li>
        </ul>
      </ul>
    </dd>
    <dt>Source</dt>
    <dd><a href="https://bitcointalk.org/index.php?topic=382374.0">https://bitcointalk.org/index.php?topic=382374.0</a></dd>
  </dl>

  <h2>Bitcoin v0.1.0</h2>
  <dl class="dl-horizontal">
    <dt>Date</dt>
    <dd>January 9, 2009</dd>
    <dt>Download</dt>
    <dd>
      <ul class="list-unstyled">
        <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-0.1.0.rar"><strong>bitcoin-0.1.0.rar</strong></a></li>
        <ul class="list-unstyled" style="padding-left:2.5em">
          <li>MD5: <code>91e2dfa2af043eabbb38964cbf368500</code></li>
          <li>SHA1: <code>ec9ed4ccbc990eceb922ff0c4d71d1ad466990dd</code></li>
        </ul>
        <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-0.1.0.tgz"><strong>bitcoin-0.1.0.tgz</strong></a></li>
        <ul class="list-unstyled" style="padding-left:2.5em">
          <li>MD5: <code>dca1095f053a0c2dc90b19c92bd1ec00</code></li>
          <li>SHA1: <code>35f83eaa334e0e447ceea77a7cc955a4ccdd1a1d</code></li>
        </ul>
      </ul>
    </dd>
    <dt>Release notes</dt>
    <dd><a href="http://satoshi.nakamotoinstitute.org/emails/cryptography/16/">Cryptography Mailing List</a></dd>
    <dt>Source</dt>
    <dd><a href="https://bitcointalk.org/index.php?topic=68121.0">https://bitcointalk.org/index.php?topic=68121.0</a></dd>
  </dl>

  <h2>Bitcoin v0.1.3</h2>
  <dl class="dl-horizontal">
    <dt>Date</dt>
    <dd>January 14, 2009 (<a href="https://bitcointalk.org/index.php?topic=49815.msg593132#msg593132">?</a>)</dd>
    <dt>Download</dt>
    <dd>
      <ul class="list-unstyled">
        <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-0.1.3.rar"><strong>bitcoin-0.1.3.rar</strong></a></li>
        <ul class="list-unstyled" style="padding-left:2.5em">
          <li>MD5: <code>9a73e0826d5c069091600ca295c6d224</code></li>
          <li>SHA1: <code>294c684fbaa13ae2662e612e98d288bde0ba2b88</code> (Calculated by SNI)</li>
        </ul>
      </ul>
    </dd>
    <dt>Source</dt>
    <dd><a href="https://bitcointalk.org/index.php?topic=68121.msg814283#msg814283">https://bitcointalk.org/index.php?topic=68121.msg814283#msg814283</a></dd>
  </dl>

</div>
{%endblock%}
