<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
Contact | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container text-center">
  	<img class="img-fluid d-block mx-auto" src="/static/img/about/blockchain.png" style="margin: 0 auto;">
    <p>For press/media: crw (at) defdist (dot) org<br>(<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x766704A0D294ED73">PGP Key</a>)</p>
    <hr>
    <p>For general inquiries: michael (at) bitstein (dot) org<br>(<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x1EA2662DEB2FEFBE">PGP Key</a>)</p>
	</div>
</div>
{% endblock %}
