<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
  	<div class="row"><div class="text-center"><img class="center img-responsive" src="{{url_for('static', filename='img/blockchain.png')}}" style="margin: 0 auto;"></div></div>
    <div class="row"><p class="text-center"><a href="mailto:contact@nakamotoinstitute.org">contact (at) nakamotoinstitute.org</a></p></div>
	<div class="row">
		<p class="text-center" style="font-family:monospace">-----BEGIN PGP PUBLIC KEY BLOCK-----<br>
Version: GnuPG v1.4.12 (GNU/Linux)<br><br>

mQENBFMy+68BCADoK94ZjIUYjiI8T/XdTTp+FkMwdaBjur+gQ36aG3SU7vHuDezb
o8O+GfFUX/v0YWa/f1+wbDHPsgm5tj1ljgl9HZBX5hItBKylAIgoc1FLoGSFdVVV
CotTu1Toxosb6iXUjvypQL5fNEHsGzHJ2CNaXcSiTU5s6qrbJ9bCg7/PGMpFENEp
7S1Ga3pwUFvvM8n/pMKuEJh/c/a0cOmlg4Z0DGBp0oKwZP0l7nnBnWl8Rhsva52h
EDVyhkxG1Af3GD8bMsjFokpVMugxuXDi9r6I7Zja7pO4qi241YrCoh2zvANwQgnP
JrLF4UPJn4dZvDINP5cz4m4uNCLGdeyXa6ElABEBAAG0OlNhdG9zaGkgTmFrYW1v
dG8gSW5zdGl0dXRlIDxjb250YWN0QG5ha2Ftb3RvaW5zdGl0dXRlLm9yZz6JAT4E
EwECACgFAlMy+68CGyMFCQlmAYAGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJ
ENGXQQ5fUGXdPmkH/3L+bYR7G6M4EbVXyjhJUAew3xIh9+f6YOFQiowuq9N9n95C
9irVOClymBWWIxQljMLd/BW+UvjwZWqQloueQpTUFYLn8FAf0gO//ibozIXDLdU7
+SoXEITogvxh0PZgKyFqPpNQ8XuP1GL4VdGW5LeG6DQohl9uWmdoBRbXukcflqzQ
VpWF3KnvNEZ3oim07Hs31LmgNl+WPCuGeaWPXr8Fj1rrldHa9tZYfiqF4HHa72ZQ
sHlMeqUWWRUDAURmxgVzDEmteCG/8+xrjRsTDwwU35gXBnl9vyfJt0+VnGkLY8pp
p9rLDVtrVvPdn13xzokg9ubz9CzgPNqVS/iLYpK5AQ0EUzL7rwEIAM5Lso/TZJ0J
buhI8M0IrEV/vqrrOivE8lKH7VMg/p8axA53gliu6gkxIC324mRdd5npgmP5mU8T
qrIkn71FFVoOXn7x/rWGmxJgtKaMSFCQFvf+Tv3Pu76WvcLCKKdvyO2UTGM0w0rp
c8fLm7+QcJmtSWUFllG2KBsi2J8IgWBe8fMILmjzNgPyr1W7gu1oy7jH1i5pbnJw
5DkpuS//SyB/eL9sJHp5qoHKIfF6aL6oogYVi8HKh+/ya9g3ckX1aqkpc5QPWOEl
NZOrMFXFOHdWhBW7xL2WaydNeJDICfSQ6OhoN5wIT0oYS+lhdbNvaBT5GHFmZ1hi
LaKulFEuTUcAEQEAAYkBJQQYAQIADwUCUzL7rwIbDAUJCWYBgAAKCRDRl0EOX1Bl
3UyPCACN43Faz00oZRsMuUfx6tUkxW1evjVgDqGSx6whiwtHjF+U7P0K5KtArUK/
r3be6FSqI7ZSujUAxrBOp5LJgNZReHmyUS0vGxl+E2cUKV1Vc+v5Jsg3nPUWAB9C
mR0pqfwSNeDuWaYmZIEqmzNxtlbVHwQy1etViYzod/LDWdvS0BD62zMWrOygEy36
feeFUUYdTI3SE0CZGu1Ac3Sqe+uzjc1w9eEyTL++8XUj21kP8OFzxxbab3MUZZIo
47XwndEnXAvR4eykwR3I9PQ5cFz0ZT5d8OwY/+J1acUk7H9upsgI0pu0yEvAaK6z
VNTHIGSUtOPEHbfRdDDXPBRfJQ1k
=9nGg<br>
-----END PGP PUBLIC KEY BLOCK-----
		</p>
		<p class="text-center">PGP key also available <a href="http://pgp.mit.edu/pks/lookup?op=get&search=0xD197410E5F5065DD">here</a>.</p>
	</div>
{% endblock %}
