<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="page-header">
    <h1 class="text-center">
        The SNI Mempool Crash Course in Bitcoin Political Economy
    </h1>
    <p>
      <img class="img-responsive center-block img-rounded" alt="BitcoinFace" src="/static/img/mempool/hyperbitcoinization/BitcoinFace.png"/>
    </p>
  </div>

{% filter markdown %}

> It might make sense just to get some in case it catches on. If
enough people think the same way, that becomes a self fulfilling
prophecy.
> <footer>[Satoshi Nakamoto](http://satoshi.nakamotoinstitute.org/emails/cryptography/17/)</a>, 1/17/2009</footer>

The following is a partial annotated bibliography of the [SNI Mempool](http://nakamotoinstitute.org/mempool/), building the case for why Bitcoin will displace all competing currencies, including altcoins, fiat money, and precious metals:

In terms of monetary policy, Bitcoin is the greatest money the world has ever seen.

* ["End the Fed: Hoard Bitcoins"](http://nakamotoinstitute.org/mempool/end-the-fed-hoard-bitcoins/) by Pierre Rochard
* ["Fractional Reserve Banking is Obsolete"](http://nakamotoinstitute.org/mempool/fractional-reserve-banking-is-obsolete/) by Pierre Rochard
* ["The Bitcoin Central Bank's Perfect Monetary Policy"](http://nakamotoinstitute.org/mempool/the-bitcoin-central-banks-perfect-monetary-policy/) by Pierre Rochard

Unsurprisingly, Bitcoin has gained substantial popularity, and there is no reason to believe it will not continue to grow. This growth is not merely a bubble.

* ["Why Bitcoin Will Continue to Grow"](http://nakamotoinstitute.org/mempool/why-bitcoin-will-continue-to-grow/) by Daniel Krawisz
* ["How We Know Bitcoin is Not a Bubble"](http://nakamotoinstitute.org/mempool/how-we-know-bitcoin-is-not-a-bubble/) by Daniel Krawisz

Given expected growth, people have reason to hoard bitcoins. This increases the value of the network, giving more reason to hoard. Hoarders can also increase the value of their holdings by investing in open-source development that makes the network more valuable as a whole.

* ["I'm Hoarding Bitcoins, and No You Can't Have Any"](http://nakamotoinstitute.org/mempool/im-hoarding-bitcoins-and-no-you-cant-have-any/) by Daniel Krawisz
* ["The Correct Strategy of Bitcoin Entrepreneurship"](http://nakamotoinstitute.org/mempool/the-correct-strategy-of-bitcoin-entrepreneurship/) by Daniel Krawisz

As it grows, the network effects of its competitors shrink, and ultimately there can only be one currency.

* ["The Problem With Altcoins"](http://nakamotoinstitute.org/mempool/the-problem-with-altcoins/) by Daniel Krawisz
* ["The Coming Demise of the Altcoins (And What You Can Do to Hasten It)"](http://nakamotoinstitute.org/mempool/the-coming-demise-of-altcoins/) by Daniel Krawisz
* ["Appcoins are Snake Oil"](http://nakamotoinstitute.org/mempool/appcoins-are-snake-oil/) by Daniel Krawisz

Volatility currently exists, but so what? If anything, that's a good thing. Hoarders are not swayed.

* ["I Love Bitcoin's Volatility"](http://nakamotoinstitute.org/mempool/i-love-bitcoins-volatility/) by Daniel Krawisz

Despite people's worries, Bitcoin does not suffer an image problem because of potential illicit usage. In fact, it's ability to bypass legal restrictions is one of its biggest selling points and should be celebrated.

* ["Bitcoin Has No Image Problem"](http://nakamotoinstitute.org/mempool/bitcoin-has-no-image-problem/) by Daniel Krawisz
* ["How to Market Bitcoin"](http://nakamotoinstitute.org/mempool/how-to-market-bitcoin/) by Daniel Krawisz

Those who are hoarding are already using Bitcoin as their unit of account, in order to calculate long-term opportunity costs.

* ["Bitcoin is the Best Unit of Account"](http://nakamotoinstitute.org/mempool/bitcoin-is-the-best-unit-of-account/) by Daniel Krawisz

Indeed, Bitcoin has already positioned itself as the best store of value, unit of account, and medium of exchange around.

* ["Bitcoin as a Store of Value, Unit of Account, and Medium of Exchange"](http://nakamotoinstitute.org/mempool/bitcoin-as-a-store-of-value-unit-of-account-and-medium-of-exchange/) by Daniel Krawisz

As it grows, it will not only displace competing crypto-currencies but also begin engaging in speculative attacks against weaker fiat currencies.

* ["Speculative Attack"](http://nakamotoinstitute.org/mempool/speculative-attack/) by Pierre Rochard

Within the system, the protocol rules are bound by the investors. Attacks on the system are possible, but they require entrepreneurship, which takes time. Meanwhile Bitcoin's growth creates agency problems in coordinated attacks by instead incentivizing defection.

* ["Who Controls Bitcoin?"](http://nakamotoinstitute.org/mempool/who-controls-bitcoin/) by Daniel Krawisz
* ["Bitcoin's Rugged Individualism"](http://nakamotoinstitute.org/mempool/bitcoins-rugged-individualism/) by Daniel Krawisz
* ["Bitcoin's Shroud of Subtlety and Allure"](http://nakamotoinstitute.org/mempool/bitcoins-shroud-of-subtlety-and-allure/) by Daniel Krawisz

In the end, we can expect Bitcoin to displace all other currencies, rapidly, in a process of hyperbitcoinization.

* ["Hyperbitcoinization"](http://nakamotoinstitute.org/mempool/hyperbitcoinization/) by Daniel Krawisz

With hyperbitcoinization on the way, everyone becomes a scammer. Willpower is the hoarder's only defense.

* ["Everyone's a Scammer"](http://nakamotoinstitute.org/mempool/everyones-a-scammer/) by Michael Goldstein

Safe travels.
{% endfilter %}
</div>
{% endblock %}
