<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
{{ doc.title }} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
{% block doc_js %}{% endblock %}
<div class="container">
	<div class="border-bottom pb-2 mb-3 text-center">
		<h1>{% block doc_title %}{{doc['title']}}{% endblock %}</h1>
		<h2 class="text-muted">{% block doc_author %}{{doc.authors_string}}{% endblock %}</h2>
		<h4>{% block doc_date %}{{doc['date']}}{% endblock %}</h4>
		{% block doc_image %}{% endblock %}
		{% block doc_original_post %}{% endblock %}
	</div>
	<span id="CONTENT">{% block doc %}{% endblock %}</span>
	<div class="text-center">
    {% if is_lit %}
		<a href="{{url_for('docinfo', slug=doc.slug)}}">Back</a> | <a href="{{url_for('literature')}}">Index</a>
    {% else %}
    <a href="{{url_for('researchdocinfo', slug=doc.slug)}}">Back</a> | <a href="{{url_for('research')}}">Index</a>
    {% endif %}
	</div>
</div>
{% endblock %}
