<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1>{{doc['title']}}<br />
  <small>{% if doc['author']|length == 3 %}
      		{{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}, {{doc['author'][1].first}} {{doc['author'][1].middle}} {{doc['author'][1].last}}, and {{doc['author'][2].first}} {{doc['author'][2].middle}} {{doc['author'][2].last}}
      	{% elif doc['author']|length == 2 %}
      		{{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}} and {{doc['author'][1].first}} {{doc['author'][1].middle}} {{doc['author'][1].last}}
      	{% else %}
      		{{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}
      	{% endif %}</small>
  </h1>
</div>
	<dl class="dl-horizontal">
  		<dt>Date:</dt>
  		<dd>{{doc['date']}}</dd>
      {% if 'una' in forms %}
      </dl>
      <p>Unfortunately, this work is restricted by intellectual monopoly. Please contact the State-sanctioned distributors of the content to let them know that information should be free. In the meantime, Google can provide you with the information you seek.</p>
      {% else %}
  		<dt>Formats:</dt>
  		<dd>{% if 'html' in forms %}<a href="{{url_for('docview', docid=doc['id'], format='html')}}">HTML</a></br>{% endif %}
  			{% if 'pdf' in forms %}<a href="{{url_for('docview', docid=doc['id'], format='pdf')}}">PDF</a></br>{% endif %}
  			{% if 'txt' in forms %}<a href="{{url_for('docview', docid=doc['id'], format='txt')}}">txt</a>{% endif %}</dd>
	</dl>
      {% endif %}
  <a href="{{url_for('literature')}}">Back</a>
{% endblock %}
