<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
<div class="page-header">
  <h1>
    {{doc['title']}}
    <br/>
    <small>
      {% if doc['author']|length == 3 %}
        <a href="{{url_for('author', authslug=doc['author'][0].slug)}}">
          {{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}
        </a>,

        <a href="{{url_for('author', authslug=doc['author'][1].slug)}}">
          {{doc['author'][1].first}} {{doc['author'][1].middle}} {{doc['author'][1].last}}
        </a>, and

        <a href="{{url_for('author', authslug=doc['author'][2].slug)}}">
          {{doc['author'][2].first}} {{doc['author'][2].middle}} {{doc['author'][2].last}}
        </a>

      {% elif doc['author']|length == 2 %}

        <a href="{{url_for('author', authslug=doc['author'][0].slug)}}">
          {{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}
        </a> and

        <a href="{{url_for('author', authslug=doc['author'][1].slug)}}">
          {{doc['author'][1].first}} {{doc['author'][1].middle}} {{doc['author'][1].last}}
        </a>

      {% else %}

        <a href="{{url_for('author', authslug=doc['author'][0].slug)}}">
          {{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}
        </a>

      {% endif %}

    </small>
  </h1>
</div>
	<dl class="dl-horizontal">
  		<dt>Date:</dt><dd>{{doc['date']}}</dd>
      {% if 'una' in forms %}

        </dl>
        <p>
          Unfortunately, this work is restricted by intellectual monopoly. Please contact the State-sanctioned distributors of the content to let them know that information should be free. In the meantime, Google can provide you with the information you seek.
        </p>

        {% set search = doc['title'].lower().split(" ")|join('+')|replace('.','')|replace(',','') %}
        {% set query = 'https://www.google.com/search?q=' ~ search ~ '+pdf' %}
        <p>
          <a href="{{query}}">
            {{query}}
          </a>
        </p>

      {% else %}

  		<dt>Formats:</dt>
  		<dd>
        {% if 'html' in forms %}
          <a href="{{url_for('slugview', slug=doc['slug'])}}">
            HTML
          </a>
          </br>
        {% endif %}
        {% if 'pdf' in forms %}
          {% if is_lit %}
          <a href="{{url_for('docview', slug=doc['slug'], format='pdf')}}">
            PDF
          </a>
          {% else %}
          <a href="{{url_for('researchdocview', slug=doc['slug'], format='pdf')}}">
            PDF
          </a>
          {% endif %}
          </br>
        {% endif %}
        {% if 'txt' in forms %}
          {% if is_lit %}
          <a href="{{url_for('docview', slug=doc['slug'], format='txt')}}">
            txt
          </a>
          {% else %}
          <a href="{{url_for('researchdocview', slug=doc['slug'], format='txt')}}">
            txt
          </a>
          {% endif %}
        </br>
        {% endif %}
        {% if 'ext' in forms %}
          <a href="{{doc.external}}">
            External link
          </a>
        {% endif %}
      </dd>
    </dl>

      {% endif %}
  

  <div class = "text-center">
    {% if is_lit %}
    <a type="button" class="btn btn-default" href="{{url_for('literature')}}">
      Back to Literature
    </a>
    {% else %}
    <a type="button" class="btn btn-default" href="#">
      Back to Research
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
