<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
Emails | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-4">
    {% if source=="cryptography" %}
    	<h1>Cryptography Mailing List Emails</h1>
      <a href="{{url_for('emailthreads', source='cryptography')}}">View threads</a><br>
    	<a href="{{url_for('emails')}}">All Emails</a>
      (<a href="{{url_for('emails', view='threads')}}">Threads</a>) |
      <a href="{{url_for('emailssource', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailthreads', source='bitcoin-list')}}">Threads</a>)
  	{% elif source=="bitcoin-list" %}
    	<h1>bitcoin-list Emails</h1>
      <a href="{{url_for('emailthreads', source='bitcoin-list')}}">View threads</a><br>
    	<a href="{{url_for('emails')}}">All Emails</a>
      (<a href="{{url_for('emails', view='threads')}}">Threads</a>) |
      <a href="{{url_for('emailssource', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailthreads', source='cryptography')}}">Threads</a>)
  	{% else %}
    	<h1>Emails</h1>
      <a href="{{url_for('emails', view='threads')}}">View threads</a><br>
    	<a href="{{url_for('emailssource', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailthreads', source='cryptography')}}">Threads</a>) |
      <a href="{{url_for('emailssource', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailthreads', source='bitcoin-list')}}">Threads</a>)
  	{% endif %}
  </div>
  <ul>
  {% for email in emails %}
    <li><a href="{{url_for('emailview', source=email['source'], emnum=email['satoshi_id'])}}">{{email['subject']}}</a> <em>({{email['date']}} UTC)</em></li>
  {% endfor %}
  </ul>
  <div class="text-center mb-4">
    {% if source=="cryptography" %}
    	<a href="{{url_for('emails')}}">All Emails</a>
      (<a href="{{url_for('emails', view='threads')}}">Threads</a>) |
      <a href="{{url_for('emailssource', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailthreads', source='bitcoin-list')}}">Threads</a>)<br>
      <a href="{{url_for('emailthreads', source='cryptography')}}">View threads</a>
  	{% elif source=="bitcoin-list" %}
    	<a href="{{url_for('emails')}}">All Emails</a>
      (<a href="{{url_for('emails', view='threads')}}">Threads</a>) |
      <a href="{{url_for('emailssource', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailthreads', source='cryptography')}}">Threads</a>)<br>
      <a href="{{url_for('emailthreads', source='bitcoin-list')}}">View threads</a>
  	{% else %}
    	<a href="{{url_for('emailssource', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailthreads', source='cryptography')}}">Threads</a>) |
      <a href="{{url_for('emailssource', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailthreads', source='bitcoin-list')}}">Threads</a>)<br>
      <a href="{{url_for('emails', view='threads')}}">View threads</a>
  	{% endif %}
  </div>
  <a href="{{url_for('satoshi_index')}}">Main index</a>
</div>
{%endblock%}
