<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
{{ ep.title }} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}

<div class="container">
  <div class="border-bottom mb-3 pb-2 text-center">
    <h1>{{ep.title}}</h1>
    <h4 class="text-muted">{{ep.date.strftime('%B %d, %Y')}}</h4>
  </div>

  {% block episode %}{% endblock %}

  <div class="flex-video widescreen">
    <iframe width="640" height="360" src="//www.youtube.com/embed/{{ep.youtube}}" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="text-center">
    <a type="button" class="btn btn-default" href="https://s3.amazonaws.com/nakamotoinstitute/cryptomises/{{ep.slug}}.mp3">
      Download .mp3
    </a>
    <hr>
    <div class="text-center mt-3">
      <a class="align-middle" href="https://itunes.apple.com/us/podcast/the-crypto-mises-podcast/id957258848?mt=2&app=podcast" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/podcast-lrg.svg) no-repeat;width:133px;height:34px;"></a>
      <a class="align-middle" href="http://feeds.feedburner.com/cryptomises"><img style="display:inline-block;margin-left:auto;margin-right:auto;height:40px" src="/static/img/cryptomises/rss.png" /></a>
    </div>
  </div>

  <hr>
  <p class="text-center">
    Enjoy this episode? Show your support by donating:<br>
    <a href="bitcoin:{{ep.address}}">{{ep.address}}</a>
  </p>

  <div class="text-center my-4">
    <a type="button" class="btn btn-light" href="{{url_for('podcast')}}">
      Back to Index
    </a>
  </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'nakamotoinstitute'; // required: replace example with your forum shortname
      var disqus_identifier = '{{ep.slug}}';
      var disqus_title = '{{ep.title}}';
      var disqus_url = "http://nakamotoinstitute.org/podcast/{{ep.slug}}/";


    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

{% endblock %}
