<!-- extend base layout -->
{% extends "base.html" %}
{% block title %}
Events | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="row text-center">
      <h1>Events</h1>
      <hr />
		</div>
    <div class="row text-center">
      <h2>First SNI Annual Dinner</h2>
      <h4>Location: Dallas, TX</h4>
      <h4>When: Friday, July 13th</h4>
      <p>Join us for a special evening of Bitcoin discussion, merriment, and steak.</p>
      <p>Space is limited. Apply for a spot below.</p>
    </div>
    <iframe style="display:block; margin:auto;" src="https://docs.google.com/forms/d/e/1FAIpQLSdOMipQ531dm4dvYyimj2ut5OAekWCKeIPiqIZG6I6tl6_nfg/viewform?embedded=true" width="100%" height="1400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>
{% endblock %}
