{% macro print_author(author) -%}
  <a href="{{url_for('author', authslug=author.slug)}}">{{author.first}} {{author.middle}} {{author.last}}</a>
{%- endmacro %}

{% macro print_authors(authors) -%}
  {% if authors|length >= 3 %}
    {% for author in authors %}
      {% if loop.last %}
        and {{print_author(author)}}
      {% else %}
        {{print_author(author)}},
      {% endif %}
    {% endfor %}
  {% elif authors|length == 2 %}
    {{print_author(authors[0])}} and {{print_author(authors[1])}}
  {% else %}
    {{print_author(authors[0])}}
  {% endif %}
{%- endmacro %}

{% macro doctypes(doc, formats, index) -%}
  {% if 'html' in formats %}
    <a href="{{url_for('slugview', slug=doc.slug)}}">HTML</a><br>
  {%endif%}
  {% if 'pdf' in formats %}
    <a href="{{url_for('static', filename='docs/' + doc.slug + '.pdf')}}">PDF</a><br>
  {%endif%}
  {% if 'txt' in formats %}
    <a href="{{url_for('static', filename='docs/' + doc.slug + '.txt')}}">txt</a><br>
  {%endif%}
  {% if 'epub' in formats %}
    <a href="{{url_for('static', filename='docs/' + doc.slug + '.epub')}}">ePub</a><br>
  {%endif%}
  {% if 'mobi' in formats %}
    <a href="{{url_for('static', filename='docs/' + doc.slug + '.mobi')}}">mobi</a><br>
  {%endif%}
  {% if 'ext' in formats %}
    {% if index %}
      <a href="{{doc.external}}">Link</a>
    {% else %}
      <a href="{{doc.external}}">External link</a>
    {% endif %}
  {%endif%}
{%- endmacro %}

{% macro print_category(category) -%}
  <a href="{{url_for('quotescategory', slug=category.slug)}}">{{category.name}}</a>
{%- endmacro %}

{% macro print_categories(categories) -%}
  {% for category in categories %}
    {% if loop.last %}
      {{print_category(category)}}
    {% else %}
      {{print_category(category)}},
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro print_translation_links(blogpost, lang, translations) -%}
  Read in
  {% if lang.ietf != 'en' %}
    <a href="/mempool/{{blogpost.slug}}/">English</a>{% if translations %},{% endif %}
  {% endif %}
    {% for translation in translations %}
    {% if loop.last %}
      {% if loop.index != 1 %}and {% endif %}<a href="/mempool/{{blogpost.slug}}/{{translation.ietf}}/">{{translation.name}}</a>
    {% else %}
      <a href="/mempool/{{blogpost.slug}}/{{translation.ietf}}/">{{translation.name}}</a>,
    {% endif %}
  {% endfor %}
{%- endmacro %}
