<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

  	<div class="row">
  		<div class="text-center">
  			<img class="center img-responsive" src="{{url_for('static', filename='img/blockchain.png')}}" style="margin: 0 auto;" />
  		</div>
  	</div>
    <div class="row">
        <p class="text-center"><em>I've been working on a new electronic cash system that's fully peer-to-peer, with no trusted third party.</em> Satoshi Nakamoto, 2008</p>
    </div>


    <div class="row">
    	<div class="text-center">
    		<h2>Join the Network</h2>
    		<p>You can help us achieve our goals by donating today. Bitcoins only.</p>
    		<p class="text-center">
                <a class="coinbase-button" data-code="48919ffdd40c2c6571c29539d4d68afb" data-button-style="donation_large" href="https://coinbase.com/checkouts/48919ffdd40c2c6571c29539d4d68afb">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
            </p>
        	<p>Keep reading, keep coding, and <a href="https://twitter.com/NakamotoInst">follow us on Twitter</a>.</p>
    	</div>
    </div>
{% endblock %}
