<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <div class="col">
      <div class="row">
        <div class="mx-auto">
          <img class="img-fluid mx-1" src="/static/img/about/blockchain.png">
        </div>
      </div>
      <div class="row text-center">
        <p class="lead"><em>I've been working on a new electronic cash system that's fully peer-to-peer, with no trusted third party...</em><br></p>
        <a class="btn btn-success mx-auto" href="{{url_for('slugview',slug='bitcoin')}}" role="button">Read Satoshi's White Paper</a>
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" role="alert">
    Check out the original code and website for Hal Finney's <strong><a href="{{url_for('rpow')}}">Reusable Proofs of Work</a></strong>
  </div>
  <div class="alert alert-warning text-center" role="alert">
    Pay respect to visionary prognosticators at <strong><a href="{{url_for('skeptics')}}">The Skeptics: A Tribute to Bold Assertions</a></strong>
  </div>
  <div class="alert alert-warning text-center" role="alert">
    Read the <strong><a href="{{url_for('crash_course')}}">Crash Course in Bitcoin Political Economy</a></strong>
  </div>
  <div class="row mt-4">
    <div class="col-sm-4 d-flex flex-column">
      <div>
        <h2>Mempool</h2>
        <p><em>{{bp.title}}</em><br>{{bp.excerpt}}</p>
      </div>
      <div class="mt-auto">
        <p><a class="btn btn-primary" href="{{url_for('blogpost',slug=bp.slug)}}" role="button">Read more &raquo;</a></p>
      </div>
    </div>
    <div class="col-sm-4 d-flex flex-column">
      <div>
        <h2>Podcast</h2>
        <p>The Crypto-Mises Podcast offers commentary on Bitcoin, economics, cryptography, and current events.</p>
      </div>
      <div class="mt-auto">
        <p><a class="btn btn-primary" href="{{url_for('podcast')}}" role="button">See episodes &raquo;</a></p>
      </div>
    </div>
    <div class="col-sm-4 d-flex flex-column">
      <div>
        <h2>Support</h2>
        <p>You can help us achieve our goals by donating today. Bitcoins only.</p>
      </div>
      <div class="mt-auto">
        <p><a class="btn btn-primary" href="{{url_for('donate')}}">Donate &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
