<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
  	<div class="row">
  		<div class="text-center">
  			
        <h2>
          Literature
        </h2>
  			
        <p>
          Bitcoin was not forged in a vacuum. These works serve to contextualize Bitcoin into the broader story of cryptography and freedom.
        </p>
        
  		</div>
  	</div>
  	
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {%for doc in docs%}
          <tr>
            <td>
            	<a href="{{url_for('docinfo', docid=doc['id'])}}">
            	{% if doc['doctype']=="book" %}
            		<em>{{doc['title']}}</em>
            	{% else %}
            		"{{doc['title']}}"
            	{% endif %}
            	</a>
            </td>
            <td>
            	{% if doc['author']|length == 3 %}
            		<a href="{{url_for('author', authslug=doc['author'][0].slug)}}">{{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}</a>, <a href="{{url_for('author', authslug=doc['author'][1].slug)}}">{{doc['author'][1].first}} {{doc['author'][1].middle}} {{doc['author'][1].last}}</a>, and <a href="{{url_for('author', authslug=doc['author'][2].slug)}}">{{doc['author'][2].first}} {{doc['author'][2].middle}} {{doc['author'][2].last}}</a>
            	{% elif doc['author']|length == 2 %}
            		<a href="{{url_for('author', authslug=doc['author'][0].slug)}}">{{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}</a> and <a href="{{url_for('author', authslug=doc['author'][1].slug)}}">{{doc['author'][1].first}} {{doc['author'][1].middle}} {{doc['author'][1].last}}</a>
            	{% else %}
            		<a href="{{url_for('author', authslug=doc['author'][0].slug)}}">{{doc['author'][0].first}} {{doc['author'][0].middle}} {{doc['author'][0].last}}</a>
            	{% endif %}
            </td>
            <td>
            	{{doc['date']}}
            </td>
          </tr>
        {%endfor%}
        </tbody>
        </table>
  </div>
</div>
{% endblock %}
