<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
{{post.subject}} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
	<div class="text-center">
    <a href="{{url_for('posts')}}">All Posts</a>
    <br>
    {% if prev != None %}
  	<a href="{{url_for('postview',postnum=prev['satoshi_id'],source=prev.forum_thread['source'])}}">Previous</a> |
  	{% endif %}
  	<a href="{{url_for('forumposts', source=post.forum_thread['source'])}}">Back</a>
  	{% if next != None %}
  	| <a href="{{url_for('postview',postnum=next['satoshi_id'],source=next.forum_thread['source'])}}">Next</a>
		{% endif %}
	</div>
	<span id="CONTENT">
		<div class="my-4">
			<h5>{{post.forum_thread.source_to_string()}}</h5>
			<h4>{{post.subject}}</h4>
			{% set post_source = post.forum_thread.source %}
      {% set thread_id = post.forum_thread.id %}
			<h5>
        <em>{{post['date']}} UTC</em>
				<small>
	        - <a href="{{post['url']}}">Original Post</a>
	        - <a href="{{url_for('threadview',source=post_source,thread_id=thread_id)}}#{{post.post_num}}">View in Thread</a>
				</small>
			</h5>
			{{post['text']|safe}}
		</div>
	</span>
	<div class="text-center">
		{% if prev != None %}
  	<a href="{{url_for('postview',postnum=prev['satoshi_id'],source=prev.forum_thread['source'])}}">Previous</a> |
  	{% endif %}
  	<a href="{{url_for('forumposts', source=post.forum_thread['source'])}}">Back</a>
  	{% if next != None %}
  	| <a href="{{url_for('postview',postnum=next['satoshi_id'],source=next.forum_thread['source'])}}">Next</a>
    {% endif %}
		<br>
    <a href="{{url_for('posts')}}">All Posts</a>
  </div>
</div>
{% endblock %}
