<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
The Quotable Satoshi
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="row">
    <div class="text-center page-header">
   	  <h1>The Quotable Satoshi</h1>
    </div>
  </div>

  <div class="row">
    {% for column in categories | slice(2) -%}
    <div class="col-lg-6">
      <ul>
      {%- for category in column -%}
        <li>
          <a href="{{url_for('quotescategory', slug=category.slug)}}">{{category.name}}</a>
        </li>
      {%- endfor -%}
      </ul>
    </div>
    {%- endfor %}
  </div>
</div>
{% endblock %}
