<!-- extend base layout -->
{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block title %}
The Quotable Satoshi
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <a href="{{url_for('quotes')}}">Back to index</a>
    </div>
    <div class="col-lg-6 text-right">
      {% if order == 'desc' %}
        <a href="{{url_for('quotescategory', slug=category.slug)}}">Order Ascending</a>
      {% else %}
        <a href="?order=desc">Order Descending</a>
      {% endif %}
    </div>
  </div>

  <div class="border-bottom my-2 pb-2 text-center">
 	  <h1>The Quotable Satoshi</h1>
    <h2>{{category.name}}</h2>
  </div>

  {% for quote in quotes %}
    <div class="border-bottom my-2">
      {% if quote.post %}
      <h4>{{quote.post.subject}}</h4>
      <h5>{{quote.date}} - <a href="{{url_for('postview', postnum=quote.post.satoshi_id, source=quote.medium)}}">Link</a></h5>
      {% elif quote.email %}
      <h4>{{quote.email.subject}}</h4>
      <h5>{{quote.date}} - <a href="{{url_for('emailview', source=quote.email.source, emnum=quote.email.id)}}">Link</a></h5>
      {% else %}
      <h4>Bitcoin: A Peer-to-Peer Electronic Cash System</h4>
      <h5>{{quote.date}} - <a href="{{url_for('slugview', slug='bitcoin')}}">Link</a></h5>
      {% endif %}
      <p>{{quote.text}}</p>
      <p><small>{{ helpers.print_categories(quote.categories) }}</small></p>
    </div>
  {% endfor %}
  <div class="row mt-4">
    <div class="col-lg-6">
      <a href="{{url_for('quotes')}}">Back to index</a>
    </div>
    <div class="col-lg-6 text-right">
      {% if order == 'desc' %}
        <a href="{{url_for('quotescategory', slug=category.slug)}}">Order Ascending</a>
      {% else %}
        <a href="?order=desc">Order Descending</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
