<!-- extend base layout -->
{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block title %}
Research | Satoshi Nakamoto Institute
{% endblock %}


{% block content %}
<div class="container">
  <div class="text-center">
    <h2>Research</h2>
    <p>Bitcoin exists. Now what?</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Formats</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in docs %}
      <tr>
        <td>
        	<a href="{{url_for('researchdocinfo', slug=doc['slug'])}}">{% if doc['doctype']=="book" %}<em>{{doc['title']}}</em>{% else %}"{{doc['title']}}"{% endif %}</a>
        </td>
        <td>
          {{ helpers.doctypes(doc, formats[doc.slug], index=True) }}
        </td>
        <td>
        	{{ helpers.print_authors(doc['author']) }}
        </td>
        <td>
        	{{ doc['date'] }}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
