<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
The Complete Satoshi | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<!--suppress ALL -->
<div class="container text-center">
  <h1>The Complete Satoshi</h1>
  <p>Between 2008 and 2012, a pseudonymous programmer (or programmers) going by the name Satoshi Nakamoto shared with the world a brilliant vision and the code to build it.</p>
  <hr>
  <p>Read the original whitepaper, <a href="{{url_for('slugview', slug='bitcoin')}}">"Bitcoin: A Peer-to-Peer Electronic Cash System"</a>.</p>
  <p>PDF available in <a href="{{url_for('static', filename='docs/bitcoin.pdf')}}">English</a>, <a href="{{url_for('static', filename='docs/bitcoin-zh-cn.pdf')}}">Chinese (Simplified)</a>, <a href="{{url_for('static', filename='docs/bitcoin-zh-tw.pdf')}}">Chinese (Traditional)</a>, <a href="{{url_for('static', filename='docs/bitcoin-he.pdf')}}">Hebrew</a>, <a href="{{url_for('static', filename='docs/bitcoin-it.pdf')}}">Italian</a>, <a href="{{url_for('static', filename='docs/bitcoin-jp.pdf')}}">Japanese</a>, <a href="{{url_for('static', filename='docs/bitcoin-ru.pdf')}}">Russian</a>, <a href="{{url_for('static', filename='docs/bitcoin-es.pdf')}}">Spanish</a>, and <a href="{{url_for('static', filename='docs/bitcoin-vn.pdf')}}">Vietnamese</a></p>
  <p><a href="{{url_for('static', filename='satoshinakamoto.asc')}}">Satoshi Nakamoto's PGP Key</a></p>
  <hr>
  <div class="mt-4">
    <h5><a href="{{url_for('emails')}}">Emails</a></h5>
    <p>It all began here.</p>
  </div>
  <div class="mt-4">
    <h5><a href="{{url_for('posts')}}">Forum Posts</a></h5>
    <p>Where an idea flourished.</p>
  </div>
  <div class="mt-4">
    <h5><a href="{{url_for('code')}}">Code<a/></h5>
    <p>The vision distilled.</p>
  </div>
  <div class="mt-4">
    <h5><a href="{{url_for('quotes')}}">Quotes</a></h5>
    <p>Indexed wisdom from the quotable Satoshi.</p>
  </div>
</div>
{% endblock %}
