<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
Threads | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="text-center">
    {% if source=="cryptography" %}
      <h2>Cryptography Mailing List Threads</h2>
      <a href="{{url_for('emailssource', source='cryptography')}}">View emails</a><br>
      <a href="{{url_for('emails', view='threads')}}">All Threads</a>
      (<a href="{{url_for('emails')}}">Emails</a>) |
      <a href="{{url_for('emailthreads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailssource', source='bitcoin-list')}}">Emails</a>)
    {% elif source=="bitcoin-list" %}
      <h2>bitcoin-list Threads</h2>
      <a href="{{url_for('emailssource', source='bitcoin-list')}}">View posts</a><br>
      <a href="{{url_for('emails', view='threads')}}">All Threads</a>
      (<a href="{{url_for('emails')}}">Emails</a>) |
      <a href="{{url_for('emailthreads', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailssource', source='cryptography')}}">Emails</a>)
    {% else %}
      <h2>Email Threads</h2>
      <a href="{{url_for('emails')}}">View emails</a><br>
      <a href="{{url_for('emails', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailssource', source='cryptography')}}">Emails</a>) |
      <a href="{{url_for('emailthreads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailssource', source='bitcoin-list')}}">Emails</a>)
    {% endif %}
  </div>
  <br>
  {% if not source %}
    <h3>Cryptography Mailing List</h3>
    <ul>
      {% for thread in cryptography_threads %}
      <li>
        <a href="{{url_for('emailthreadview', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('emailthreadview', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.emails[0]['date']}} UTC)</em>
      </li>
      {% endfor %}
    </ul>
    <h3>bitcoin-list</h3>
    <ul>
      {% for thread in bitcoin_list_threads %}
      <li>
        <a href="{{url_for('emailthreadview', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('emailthreadview', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.emails[0]['date']}} UTC)</em>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <ul>
    {% for thread in threads %}
      <li>
        <a href="{{url_for('emailthreadview', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('emailthreadview', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.emails[0]['date']}} UTC)</em></li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="text-center">
    {% if source=="cryptography" %}
      <a href="{{url_for('emails', view='threads')}}">All Threads</a>
      (<a href="{{url_for('emails')}}">Emails</a>) |
      <a href="{{url_for('emailthreads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailssource', source='bitcoin-list')}}">Emails</a>)<br>
      <a href="{{url_for('emailssource', source='cryptography')}}">View emails</a>
    {% elif source=="bitcoin-list" %}
      <a href="{{url_for('emails', view='threads')}}">All Threads</a>
      (<a href="{{url_for('emails')}}">Emails</a>) |
      <a href="{{url_for('emailthreads', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailssource', source='cryptography')}}">Emails</a>)<br>
      <a href="{{url_for('emailssource', source='bitcoin-list')}}">View posts</a>
    {% else %}
      <a href="{{url_for('emails', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('emailssource', source='cryptography')}}">Emails</a>) |
      <a href="{{url_for('emailthreads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('emailssource', source='bitcoin-list')}}">Emails</a>)<br>
      <a href="{{url_for('emails')}}">View emails</a>
    {% endif %}
  </div>
  <br>
  <a href="{{url_for('satoshi_index')}}">Main index</a>
</div>
{% endblock %}
