<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}
{{posts[0].forum_thread.title}} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
{% set only_satoshi = request.args.get('view') == 'satoshi' -%}
<div class="container">
  <div class="text-center">
    <a href="{{url_for('posts', view='threads')}}">All Threads</a>
    <br>
    {% if prev != None %}
      {% if only_satoshi %}
      <a href="{{url_for('threadview',thread_id=prev['id'],source=prev['source'],view='satoshi')}}">Previous</a> |
      {% else %}
      <a href="{{url_for('threadview',thread_id=prev['id'],source=prev['source'])}}">Previous</a> |
      {% endif %}
    {% endif %}
    <a href="{{url_for('threads', source=posts[0].forum_thread['source'])}}">Back</a>
    {% if next != None %}
      {% if only_satoshi %}
      | <a href="{{url_for('threadview',thread_id=next['id'],source=next['source'],view='satoshi')}}">Next</a>
      {% else %}
      | <a href="{{url_for('threadview',thread_id=next['id'],source=next['source'])}}">Next</a>
      {% endif %}
    {% endif %}
  </div>
  <div class="text-center">
    <h2>
      <small>{{posts[0].forum_thread.source_to_string()}}</small><br>
      {{posts[0].forum_thread.title}}
    </h2>
    <p>
      {% if only_satoshi %}
      <a href=".">View all posts</a>
      {% else %}
      <a href="?view=satoshi">View Satoshi only</a>
      {% endif %}
    </p>
    <p><a href="{{posts[0].forum_thread.url}}">External link</a></p>
  </div>
  <div class="thread {% if posts[0].forum_thread.source == 'p2pfoundation' %}nested{% endif %} mb-4">
  {% set prev_level = posts[0].nested_level -%}
  {% for post in posts %}
    {% if post.forum_thread.source == 'p2pfoundation' %}
      {% set nested_level = 'nested-' + post.nested_level|string -%}
      {% if prev_level != post.nested_level %}
      <div class="post-container {{loop.cycle('', 'gray')}} {{nested_level}} first {% if post.satoshi_id and not only_satoshi %}highlight{% endif %}" id="{{post.post_num}}">
      {% else %}
      <div class="post-container {{loop.cycle('', 'gray')}} {{nested_level}} {% if post.satoshi_id and not only_satoshi %}highlight{% endif %}" id="{{post.post_num}}">
      {% endif %}
      {% set prev_level = post.nested_level -%}
    {% else %}
      <div class="post-container {{loop.cycle('', 'gray')}}  {% if post.satoshi_id and not only_satoshi %}highlight{% endif %}" id="{{post.post_num}}">
    {% endif %}
      <div class="header">
        <div class="poster-info d-flex">
          <div class="mr-auto text-truncate">
            <a href="{{post.poster_url}}"><strong>{{post.poster_name}}</strong></a>
          </div>
          <div class="ml-auto">
            <a href="#{{post.post_num}}">#{{post.post_num}}</a>
          </div>
        </div>
        <div class="post-info">
          <h5>{{post.subject}}</h5>
          <span>{{post.date.strftime('%B %d, %Y, %I:%M:%S %p')}}</span>
        </div>
      </div>
      <div class="body">
        {{post.text|safe}}
      </div>
      <div class="footer d-flex">
        <div class="mr-auto">
          <a href="{{post.url}}">External link</a>
        </div>
        {% if post.satoshi_id %}
        <div class="ml-auto">
          <a href="{{url_for('postview', postnum=post['satoshi_id'],source=post.forum_thread['source'])}}">Permalink</a>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="text-center">
    {% if prev != None %}
      {% if only_satoshi %}
      <a href="{{url_for('threadview',thread_id=prev['id'],source=prev['source'],view='satoshi')}}">Previous</a> |
      {% else %}
      <a href="{{url_for('threadview',thread_id=prev['id'],source=prev['source'])}}">Previous</a> |
      {% endif %}
    {% endif %}
    <a href="{{url_for('threads', source=posts[0].forum_thread['source'])}}">Back</a>
    {% if next != None %}
      {% if only_satoshi %}
      | <a href="{{url_for('threadview',thread_id=next['id'],source=next['source'],view='satoshi')}}">Next</a>
      {% else %}
      | <a href="{{url_for('threadview',thread_id=next['id'],source=next['source'])}}">Next</a>
      {% endif %}
    {% endif %}
    <br>
    <a href="{{url_for('posts', view='threads')}}">All Threads</a>
  </div>
</div>
{% endblock %}
