<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="text-center">
    {% if source=="p2pfoundation" %}
      <h2>P2P Foundation Threads</h2>
      <a href="{{url_for('forumposts', source='p2pfoundation')}}">View posts</a><br>
      <a href="{{url_for('posts', view='threads')}}">All Threads</a>
      (<a href="{{url_for('posts')}}">Posts</a>) |
      <a href="{{url_for('threads', source='bitcointalk')}}">BitcoinTalk</a>
      (<a href="{{url_for('forumposts', source='bitcointalk')}}">Posts</a>)
    {% elif source=="bitcointalk" %}
      <h2>BitcoinTalk Threads</h2>
      <a href="{{url_for('forumposts', source='bitcointalk')}}">View posts</a><br>
      <a href="{{url_for('posts', view='threads')}}">All Threads</a>
      (<a href="{{url_for('posts')}}">Posts</a>) |
      <a href="{{url_for('threads', source='p2pfoundation')}}">P2P Foundation</a>
      (<a href="{{url_for('forumposts', source='p2pfoundation')}}">Posts</a>)
    {% else %}
      <h2>Forum Threads</h2>
      <a href="{{url_for('posts')}}">View posts</a><br>
      <a href="{{url_for('threads', source='p2pfoundation')}}">P2P Foundation</a>
      (<a href="{{url_for('forumposts', source='p2pfoundation')}}">Posts</a>) |
      <a href="{{url_for('threads', source='bitcointalk')}}">BitcoinTalk</a>
      (<a href="{{url_for('forumposts', source='bitcointalk')}}">Posts</a>)
    {% endif %}
  </div>
  <br>
  {% if not source %}
    <h3>P2P Foundation</h3>
    <ul>
      {% for thread in p2pfoundation_threads %}
      <li>
        <a href="{{url_for('threadview', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('threadview', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.posts[0]['date']}} UTC)</em>
      </li>
      {% endfor %}
    </ul>
    <h3>BitcoinTalk</h3>
    <ul>
      {% for thread in bitcointalk_threads %}
      <li>
        <a href="{{url_for('threadview', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('threadview', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.posts[0]['date']}} UTC)</em>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <ul>
    {% for thread in threads %}
      <li>
        <a href="{{url_for('threadview', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('threadview', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.posts[0]['date']}} UTC)</em></li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="text-center">
    {% if source=="p2pfoundation" %}
      <a href="{{url_for('posts', view='threads')}}">All Threads</a>
      (<a href="{{url_for('posts')}}">Posts</a>) |
      <a href="{{url_for('threads', source='bitcointalk')}}">BitcoinTalk</a>
      (<a href="{{url_for('forumposts', source='bitcointalk')}}">Posts</a>)<br>
      <a href="{{url_for('forumposts', source='p2pfoundation')}}">View posts</a>
    {% elif source=="bitcointalk" %}
      <a href="{{url_for('posts', view='threads')}}">All Threads</a>
      (<a href="{{url_for('posts')}}">Posts</a>) |
      <a href="{{url_for('threads', source='p2pfoundation')}}">P2P Foundation</a>
      (<a href="{{url_for('forumposts', source='p2pfoundation')}}">Posts</a>)<br>
      <a href="{{url_for('forumposts', source='bitcointalk')}}">View posts</a>
    {% else %}
      <a href="{{url_for('threads', source='p2pfoundation')}}">P2P Foundation</a>
      (<a href="{{url_for('forumposts', source='p2pfoundation')}}">Posts</a>) |
      <a href="{{url_for('threads', source='bitcointalk')}}">BitcoinTalk</a>
      (<a href="{{url_for('forumposts', source='bitcointalk')}}">Posts</a>)<br>
      <a href="{{url_for('posts')}}">View posts</a>
    {% endif %}
  </div>
  <br>
  <a href="{{url_for('satoshi_index')}}">Main index</a>
</div>
{% endblock %}
