{% extends "base.html" %}

{% block title %}
{{series.title }} | Mempool Series | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-4">
    <h1>{{series.title}}</h1>
    {% set author = series.blogposts[0].author[0] %}
    <h2 class="text-muted">{{author}}</h2>
  </div>
  {% for blog_post in series.blogposts|reverse %}
  <hr>
  <h4 class="{% if blog_post.series %}series{% endif %}">
    <span class="text-muted">{% if not blog_post.series.chapter_title %}#{{blog_post.series_index}} – {% endif %}</span><a href="{{url_for('mempool.detail', slug=blog_post.slug)}}">{% if blog_post.series and blog_post.series.chapter_title %}Chapter {{blog_post.series_index}}: {% endif %}{{blog_post.title}}</a>
  </h4>
  <p class="text-muted">
    {{blog_post.date|dateformat}}
    {% if blog_post.date != blog_post.added %}(Added {{blog_post.added|dateformat}}){% endif %}</p>
    <p>{{blog_post.excerpt}}</p>
    {% if blog_post.translations|length > 0 %}
    <p>
      Also available in:
      {% for translation in blog_post.translations|sort(attribute='language.name') %}
        <a href="{{url_for('mempool.detail_translation', slug=blog_post.slug, language=translation.language.ietf)}}">{{translation.language.name}}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </p>
    {% endif %}
  {% endfor %}
  <div class="text-center my-4">
		<a type="button" class="btn btn-light" href="{{url_for('mempool.index')}}">
			Back to the Memory Pool
		</a>
	</div>
{% endblock %}
