{% extends "base.html" %}

{% block title %}
Mempool Series | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-4">
    <h1>Mempool Series</h1>
    <p>Extended blogchains for a deeper dive</p>
  </div>
  {% for s in series %}
  <hr>
  <h4>
    <a href="{{url_for('mempool.series.detail', slug=s.slug)}}"><em>{{s.title}}</em></a>
  </h4>
  {% set author = s.blogposts[0].author[0] %}
  <h5 class="text-muted">{{author}}</h5>
  {% endfor %}
  <hr>
{% endblock %}
