Babel==2.6.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
dateutils==0.6.6
feedgen==0.9.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Babel==0.11.2
Flask-Caching==1.8.0
Flask-FlatPages==0.6
Flask-Markdown==0.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
gunicorn==19.9.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.6.2
Mako==0.9.1
Markdown==2.6.1
MarkupSafe==1.1.0
pyScss==1.3.5
python-dateutil==2.2
pytz==2014.10
PyYAML==5.1.2
requests==2.23.0
six==1.5.2
SQLAlchemy==1.3.10
urllib3==1.25.8
webassets==0.12.1
Werkzeug==0.15.3
