Flask==0.10.1
Flask-Cache==0.12
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.7
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.19
SQLAlchemy==0.9.3
Werkzeug==0.9.4
alembic==0.6.3
argparse==1.2.1
gunicorn==18.0
itsdangerous==0.23
psycopg2==2.5.2
python-dateutil==2.2
six==1.5.2
wsgiref==0.1.2
