/* colors */

$primary: #007bff;
$gray: #f5f5f5;
$blockquote-gray: #eeeeee;

$post-highlight: #ffff99;
$post-border: #bebebe;
$post-sectional: #d3d3d3;

/* padding */

$post-padding: 12px;
$post-padding-half: calc(#{$post-padding} / 2);
$thread-post-margin: 24px;

/* borders */

$post-inner-border: 1px solid $post-sectional;
