@import "tailwindcss";

@theme {
  --color-cream: #f5f4ef;
  --color-dark: #212121;
  --color-cardinal: #c21324;
  --color-crimson: #e3455f;
  --color-windsor: #442977;
  --color-winter: #5b8e7d;
  --color-mariner: #4059ad;
  --color-dandelion: #ffd470;
  --color-sand: #e4e2d9;
  --color-taupe: #7c7b72;
  --color-taupe-light: #bfbdb3;

  --font-serif: var(--font-stix), "Times New Roman", serif;
  --font-mono: var(--font-ibm-plex-mono), "Courier New", monospace;

  --spacing-prose: 70ch;
}

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility small-caps {
  font-variant-caps: small-caps;
}

@utility italic-regular-em {
  em {
    font-style: normal;
  }
}

@layer base {
  a:hover {
    color: var(--color-cardinal);
  }

  hr {
    border-style: dashed;
    border-color: var(--color-dark);
  }
}

@layer components {
  .quoteheader {
    @apply border border-neutral-300;
    @apply p-1.5;
    @apply font-bold;
  }

  .quote {
    @apply border border-t-0 border-neutral-300;
    @apply p-1.5;
    @apply mb-3;
  }

  .codeheader {
    @apply border border-neutral-300;
    @apply p-1.5;
    @apply font-bold;
  }

  .code {
    @apply border border-t-0 border-neutral-300;
    @apply p-1.5;
    @apply font-mono whitespace-pre-wrap;
  }

  .hl-code {
    .gd {
      color: var(--color-red-900);
      background-color: var(--color-rose-100);
    }
  
    .gi {
      color: var(--color-green-800);
      background-color: var(--color-green-100);
    }
  }
}
