<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="page-header">
  		<h1 class="text-center">
  			Appcoins Are Snake Oil<sup><a href="#fn1" id="ref1">1</a></sup>
  			<br>
  			<small>
  				Daniel Krawisz
  			</small>
  		</h1>
  		<h4 class="text-center">
  			May 24, 2014
  		</h4>
  		<br>
  		<p>
	  		<img class="img-responsive center-block img-rounded" src="/static/img/mempool/appcoins-are-fradulent/rube-goldberg.jpg" />
  		</p>
  	</div>

	<h2>
		Introduction
	</h2>

		<p>
			Appcoins. What a great way to <a href="http://startupboy.com/2014/03/09/the-bitcoin-model-for-crowdfunding/">fund an open source project</a>, right? The idea began with <a href="{{url_for('blogpost', slug='mastercoin-is-a-nightmare-of-insanity')}}">Mastercoin</a>, but seems to have jumped from there to become its own meme. You just create an app, and then make it less convenient by creating a cryptocurrency (or "appcoin") that is required to use it, some of which you sell to investors to pay for development of the app. There's no way that couldn't work! It's just like selling stock in a company, right?
		</p>

		<p>
			Wrong. As will be shown, whereas the value of a stock is related to the value of the company that issued it, there is no such connection between an appcoin and an app, and there is consequently no reason to expect the appcoin ever to become valuable. For this reason, appcoins should not be considered a valid investment and are inappropriate as a means of funding open-source projects. Furthermore, once the arguments in this essay become well enough understood by investors, that it will be impossible to fund a project by selling an appcoin because the price will rapidly tend to zero. 
		</p>

	<h2>
		The Value of a Stock
	</h2>

		<p>
			A stock is a contract between owners of an enterprise which grants its bearers the right to a portion of the liquidation value of the company and to any dividends that it offers. Consequently, there is a logical connection between the growth of the company and the value of the stock. The higher the probability that a company will increase the value of its net assets, the higher the expected price of its stock, and vice versa. Hence, a stock can be a perfectly legitimate investment if the company issuing it is not fraudulent. 
		</p>

	<h2>
		The Value of an Appcoin
	</h2>

		<p>
			On the other hand, the value of an appcoin can move completely independently of the value of the app itself. This is because the value of a currency is due to the value of the <a href="http://nakamotoinstitute.org/mempool/how-we-know-bitcoin-is-not-a-bubble/">network of people holding it</a>, which is a logically separate concept to the network using the app. The value of the app is a matter entirely of the service it provides, whereas the value of the appcoin partly due to the value of the app and partly to its competition with other currencies. If there are two currencies to choose, there is a <a href="http://nakamotoinstitute.org/mempool/the-coming-demise-of-altcoins/">relative disutility</a> of holding the one which has the smaller market cap. The disutility becomes stronger as the difference between their market caps becomes greater.
		</p>

		<p>
			Because any appcoin must compete with Bitcoin, there is inherently an aversion to holding the appcoin rather than Bitcoin. This means that an app can <em>always</em> improve by transitioning to use Bitcoin instead the appcoin.<sup><a href="#fn2" id="ref2" title="There is a similar effect between Bitcoin and the dollar, but because Bitcoin is such an enormous technological achievement over the dollar, Bitcoin continues to grow despite the dollar's superior network. If an appcoin could manage to reduce transaction costs by an order of magnitude versus Bitcoin, then it should be expected to defeat Bitcoin and all the other appcoins too.">2</a></sup> Since we are talking about <em>open source</em> projects, it is always possible for anyone to fork an existing app and make the changes himself. 
		</p>

		<p>
			It is, furthermore, not necessary to assume that the app must be forked to remove its dependence on the appcoin. As soon as the developers have sold out of their premined appcoins, there will be nothing preventing them from upgrading the app themselves to support Bitcoin. All nodes running the app who are acting as service providers will also desire this because it will generate more business for them. I do not see how investors in the appcoin could expect to prevent this. That should eliminate the expectation that any appcoin could ever be a good investment. 
		</p>

		<br>
		<p>
			<img class="img-responsive center-block img-rounded" src="/static/img/mempool/appcoins-are-fradulent/underpants-gnomes.png" />
		</p>
		<br>
	<h2>
		Beating a Dead Horse
	</h2>

		<p>
			Even if the app could somehow remain locked behind the appcoin wall, there is still no reason to expect the appcoin to become valuable. If the users of the app cannot avoid holding the appcoin entirely, then they would prefer to hold it for the shortest time possible. There is an opportunity cost for all time spent holding the appcoin because better currencies are available which can be expected to provide better opportunities. There is thus an economic incentive to provide services which make the appcoin as invisible as possible so as to provide access to the app with as little hassle as possible. 
		</p>

		<p>
			But necessarily as a given number of users learns to hold their appcoins for lower and lower periods of time, the value of the coin must decrease and the price of app services in its own appcoin must increase. Suppose there were, say, 100 people sharing 1000 appcoins at a given time with about 10 each, and they learn to get rid of their appcoins to use the service twice as quickly. Then it must be more like only 50 people sharing 1000 appcoins, with 20 each. Even if the user base increased rapidly, it could not for long counteract the incentive to make appcoin insignificant to the app user. 
		</p>

		<p>
			Not everyone buys the appcoin to interact with the system, of course. Some buy it as an investment. However, after understanding the economics described in this article, investors will no longer be so innocent as to see value in an appcoin. An investor could not ultimately expect to make a return on an appcoin given that there is an incentive to disconnect the coin from the app. Once that happens, the appcoin is simply <a href="{{url_for('blogpost', slug='the-problem-with-altcoins')}}">another altcoin</a>.
		</p>

		<p>
			Furthermore, the more that investors realize that other investors also understand the worthlessness of appcoins, the less successful will the appcoin be as a method of funding projects. If there are not enough gullible investors to buy the coin, then the developers can sell as many as they want without raising enough money. The only reason they can be used now is that the issues are not yet generally understood to be a scam. However, that is precisely what they are. It is grossly unethical to sell something which adds no value and which can be expected, always, to become worthless in the end. 
		</p>

	<h2>
		Conclusion
	</h2>

		<p>
			Appcoins are a terrible idea. And furthermore, this shouldn't require such a deep analysis to realize. They are clearly just a needless complexity. Why would I want to use different money for my gas, food, and rent? This defeats the whole purpose of having a money economy. How can these appcoin proponents think they're accomplishing something with that? It's like they're trying to invent a barter system again except improve it by adding trade barriers and a bunch of imaginary extra goods that aren't useful for anything but that people are required to trade with for some reason.
		</p>

		<p>
			In fact, it's not <em>like</em> that. It's <em>exactly</em> what they're actually doing. Appcoins are pump-and-dump scams disguised as <a href="http://en.wikipedia.org/wiki/Rube_Goldberg_machine">Rube Goldberg machines</a>, so don't get fooled. 
		</p>

		<br>
		<p>
			<img class="img-responsive center-block" width="60%" src="/static/img/mempool/appcoins-are-fradulent/inconvenience-store.jpg" />
		</p>
		<br>
		<p>
			<em>
				[Update 6/16/2014: Added argument about developers changing the app themselves. Slight edits for clarity. Added footnote about frauds.]
			</em>
		</p>

	<br>
		<div class = "text-center">
			<p>
				<a href="https://coinbase.com/checkouts/c16886a2ff866480977fde7c18ce0edf" target="_blank" type="button" class="btn btn-success">
					Donate to Daniel
				</a>
			</p>
			<br>
			<p>
				<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x101BBC10F86C4A64" type="button" class="btn btn-info">
					Daniel's Public Key
				</a>
			</p>
		</div>
	<br>

	<h2>
		Footnotes
	</h2>
	
	<ol>
		<li id="fn1">
			<p>
				I have been criticized over my use of the word <em>fraud</em> in an earlier version of this article. This usually implies an intent to deceive. I do not know whether the appcoins that already exist were sold under intentionally false pretenses; I merely consider it to be a likely possibility. As a comparison, if someone were selling a perpetual motion machine or homeopathic medicine, then obviously he is making false claims about his product. Without evidence as to what the seller is thinking it cannot be established that he is deliberately lying. However, the truth should be so easily available to the seller that deception on his part becomes a likely explanation for his actions. 
			</p>

			<p>
				In the case of appcoins, I do not think that the issues discussed in this article are very difficult to understand, so I would suspect someone who spent a lot of time working on them to have come to some understanding of the problem with them and the ethical problem of selling them. However, the important issue is not whether the seller knows the truth but rather that he is harming people either way. I did not intend to emphasize the issue of intent with this article and it is really irrelevant to the main point, but that was what much of the response to this article was about. 
			</p>

			<p>
				This response proves I used the word <em>fraud</em> incorrectly. There is a concept called <a href="http://en.wikipedia.org/wiki/Constructive_fraud">constructive fraud</a>, which can apply when a seller misrepresents a product in spite of an ethical duty represent it correctly. This concept fits better for what I meant, but if I wanted to say that I should have explained it more clearly. They are deceivers in the same sense that quack doctors are deceivers, which is to say that they might be deceiving others or they might be deceiving themselves.&nbsp;<a href="#ref1">↩</a>
			</p>
		</li>

		<li id="fn2">
			<p>
				There is a similar effect between Bitcoin and the dollar, but because Bitcoin is such an enormous technological achievement over the dollar, Bitcoin <a href="{{url_for('blogpost', slug='why-bitcoin-will-continue-to-grow')}}">continues to grow</a> despite the dollar's superior network. If an appcoin could manage to reduce transaction costs by an order of magnitude versus Bitcoin, then it should be expected to defeat Bitcoin and all the other appcoins too.&nbsp;<a href="#ref2">↩</a>
			</p>
		</li>
	</ol>
</div>


{%endblock%}
