<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="page-header">
      <h1 class="text-center">
          Bitcoin's Shroud of Subtlety and Allure
        <br>
        <small>
          Daniel Krawisz
        </small>
      </h1>
      <h4 class="text-center">
        June 29, 2014
      </h4>
  </div>


<h2>Attacks on Bitcoin</h2>

<p>
A successful attack on Bitcoin means attacking Bitcoin's value. There might well be a bug that could be exploited to put the network out of commission temporarily, but would soon be fixed and then the network would be up and running shortly thereafter. To destroy Bitcoin permanently means to end the profit opportunities available with it, and that means either a malicious hashing attack on the network that makes mining impossible or such a malevolent policy against Bitcoin trade that even the black market abandons it. Both of these require spending resources in proportion to the profits that Bitcoin enables.
</p>

<p>
In this article, I will discuss three reasons why such an attack is unlikely to succeed. Antifragility, subtlety, and attacker defection.
</p>

<p>
The first of these, antifragility, is exemplified in the fact that malicious hashing is impossible up to a certain fraction of the network. Below around 25%, additional hashes per second are almost certainly beneficial because they increase the security of the network. Any potential attacker, therefore, must weigh in the possibility that he may end up benefiting the network instead of destroying it. A similar risk accompanies a legal attack on Bitcoin. Bitcoin can adapt to half-hearted attacks. It would move deeper into the black market where it would become permanently strengthened. Furthermore, hostile legislation could easily be <a href= http://en.wikipedia.org/wiki/Regulatory_capture>corrupted</a> into bringing as many bitcoins as possible to government agents instead of actually attacking Bitcoin.
</p>

<h2>Bitcoin's Subtlety</h2>

<p>
Bitcoin adoption happens one person at a time, and this is true for potential attackers as well as the rest of us. It takes an entrepreneurial mindset to be able to imagine what Bitcoin could become, given how comparatively small it is now. It takes time and meditation for people to take Bitcoin seriously because most of its value is in the future. By the time this  begins, Bitcoin has become much more expensive than when they first learned of it.
</p>

<p>
Thus, Bitcoin is protected from attackers by initially being beyond their understanding. When Bitcoin was very small, it was very stealthy and was completely unknown to the establishment. Now they laugh at it, just as it has begun to grow bold. Of course, we don't know who really dismisses it and who is deliberately spreading lies about it, something which is in their incentive, as I argue in the next section.
</p>

<h2>Bitcoin's Allure</h2>

<p>
Furthermore, potential attackers are at a disadvantage for another reason because Bitcoin only opposes organizations, but very few people. Even someone who stands to lose from Bitcoin by not reacting to it, such as a banker or government agent, stands to gain a great deal by buying now. Only the very wealthiest people might reasonably expect to be worse off attempting to buy up as much as possible now than if it were gone. (This could happen if their attempt to buy caused the price to rise too fast relative to their ability to acquire additional bitcoins, to the point that they ultimately had less influence over the future Bitcoin economy than they have over today’s economy.) Thus, the agency problem with Bitcoin affects bitcoin competitors as well as Bitcoin holders.
</p>

<p>
Any government agent who begins to see bitcoin as a potential threat must also simultaneously see it as an opportunity, for he, too, can invest in Bitcoin. And why shouldn't he? Bitcoin may be a threat to his livelihood, but it may well be making him an offer he can't refuse. How can an organization that stands to lose by the adoption of Bitcoin provide its members with a better opportunity for staying loyal than Bitcoin provides for defection?
</p>

<p>
Even those who might resist the temptation to defect would have to think about the defection of his fellows. How quickly is adoption happening? Is there time to mount an attack before Bitcoin becomes too powerful? How easily could the resources for such an attack be amassed, given both the ignorance and treachery of the other agents. If such an attack would be unlikely to succeed, then buying now would be the only intelligent action. Regardless of whether he liked Bitcoin, it would be futile to continue pursuing a doomed cause.
</p>

<p>
Potential Bitcoin attackers are in a Prisoner's Dilemma. In the same way that the people cannot easily rebel against the king owing to a lack of coordination on their part, governments cannot rebel against Bitcoin for the same reason. The government puts the people in a Prisoner's Dilemma against one another, and Bitcoin does the same to government agents.
</p>

<p>
Bitcoin is like _Invasion of the Body Snatchers_. Bitcoin attracts inside men to act as covert saboteurs. There have long been predictions from both bitcoiners and naysayers of impending government attacks, but I think there is a possibility that Bitcoin could win without suffering much resistance. Moreover, although I said above only that any legal bitcoin attack _could_ be perverted, the considerations discussed in this section tend to make such diffusion very likely.
</p>

<p>
Bitcoin defends itself by being obscure, but once it has attracted someone's attention, its best interest is for that person to understand the logic presented here. For then he will also understand that his best course is to deny Bitcoin's threat to his superiors and quietly to become its willing slave.
</p>

</div>
{%endblock%}
