<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
	<div class="page-header">
  		<h1 class="text-center">
  			Bitcoin is the Best Unit of Account
  			<br>
  			<small>
  				Daniel Krawisz
  			</small>
  		</h1>
  		<h4 class="text-center">
  			May 10, 2014
  		</h4>
  	</div>


		<p>
			In an <a href="http://themisescircle.org/blog/2014/01/28/i-love-bitcoins-volatility/">earlier article</a>, I conceeded to much and suggested that Bitcoin doesn&#8217;t <em>need</em> to be a unit of account. What I should have said is that Bitcoin is a great unit of account&mdash;much better than the dollar. 
		</p>

		<p>
			The objection that Bitcoin is not a good unit of account actually hides a circular argument that invalidates it. Bitcoin&#8217;s utility as a unit of account depends on what you already believe about Bitcoin. If you are skeptical of Bitcoin, then it makes no sense to use Bitcoin as a unit of account. If you believe that Bitcoin will become the world currency, then it makes no sense to use anything else. You want to end up with as many bitcoins as possible, so it makes sense to price any investments or ventures in Bitcoin. That&#8217;s how you know if you are winning or losing against your benchmark. Thus, to say that Bitcoin will fail because it is a bad unit of account is to say nothing more than that it will fail because it will fail. 
		</p>

		<p>
			There is, of course, no objective unit of value that is measured with a unit of account. This is why it is possible for two people to prefer such wildly different behaviors from their units of accounts. Someone still lost in the dollar world looks at Bitcoin and sees wild and extreme volatility, whereas someone in Bitcoin looking back at the dollar sees the <a href="http://bitcoinism.blogspot.com/2013/11/us-dollar-falls-to-new-lows-against.html">worst and longest</a> economic crash in history. 
		</p>
  		<img class="center-block" alt="Worst Recession Ever" src="/static/img/mempool/bitcoin-is-the-best-unit-of-account/SP500inBTC.png"/>
		<p>
			Upon entering the Bitcoin world, one gradually realizes that dollars make a lot less sense in this new world. Suppose, for example, that one considers getting into Bitcoin mining. The most important question is whether the mining rigs will mine more bitcoins than they cost&mdash;dollars don&#8217;t enter into question at all. Other businesses that perform Bitcoin-related services also must think similarly because one must always ask for any investment in the business, did it earn as many bitcoins as it cost to create? 
		</p>

		<p>
			Ok, so sure Bitcoin accountancy works within Bitcoin, what about interacting with the rest of the world? This also works fine. In fact, it works great. It just means that all prices in Bitcoin are rapidly falling. What&#8217;s the problem with that? That&#8217;s just Bitcoin&#8217;s way of telling people to keep holding it. It just feels like everything is becomming rapidly cheaper. Not a bad feeling. Not bad at all! 
		</p>

		<p>
			I feel like I went through a subtle psychological shift recently. When I use dollars, they feel like play money to me. Buying with them feels like using he colorful foreign cash during a vacation overseas. It no longer feels quite like real money. Bitcoin is my unit of account. 
		</p>


{%endblock%}
