<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
	<div class="page-header">
  		<h1 class="text-center">
  			End the Fed: Hoard Bitcoins
  		 	<br>
  			<small>
  		 		Pierre Rochard
  		 	</small>
  		 </h1>
  		<h4 class="text-center">
  			February 19, 2013
  		</h4>
  		<p>
  			<img class="img-responsive center-block" alt="Bitcoin" src="/static/img/mempool/end-the-fed-hoard-bitcoins/bitcoin.png"/>
  		</p>
  	</div>

  		<p>
			The libertarian strategy for undermining <a href="http://en.wikipedia.org/wiki/Fiat_money">fiat currencies</a> has always centered on <a href="http://constitution.org/mon/greenspan_gold.htm">making gold and silver viable alternatives</a>. This effort has failed because it is impossible to compete against a digital currency, like the dollar, with a physical commodity due to the high transaction costs associated with the latter. The only way metals can succeed is if fiat fails. While it may be the case that fiat currencies inevitably collapse over the long run, waiting for this possibility is unacceptable given the amount of damage that central banks are inflicting on <a href="http://mises.org/efandi/ch4.asp">humanity’s accumulation of capital</a>.
		</p>

		<p>
			The mantra of passing an <a href="http://en.wikipedia.org/wiki/Federal_Reserve_Transparency_Act">Audit the Fed bill</a>, miring it in scandal, and “<a href="http://www.freedomworks.org/blog/jborowski/legalize-competing-currencies">legalizing currency competition</a>” ignores <a href="http://en.wikipedia.org/wiki/Public_choice_theory">public choice economics</a> as well as the fact that digital fiat currencies have already won the competition against metals and would win it again. We don’t need another political solution to an economic problem, what we need is a more competitive market currency. Enter <a href="http://en.wikipedia.org/wiki/Bitcoin">Bitcoin</a>.
		</p>


		<p>
			Low transaction costs make Bitcoin the most competitive medium of exchange in humanity’s history, and it may be the case that a currency with even lower transaction costs is theoretically impossible. To learn more about bitcoins I would recommend our excellent <a href="http://themisescircle.org/blog/2013/01/25/a-bitcoin-reader/">Bitcoin Reader</a>.
		</p>
		<br>
		<p>
  			<img class="img-responsive center-block" alt="Transaction Costs" src="/static/img/mempool/end-the-fed-hoard-bitcoins/transactioncosts.jpg"/>
  		</p>
  		<br>
		<p>
			Bitcoin is slowly supplanting metallic and fiat mediums of exchange. It is currently transitioning from the <a href="http://en.wikipedia.org/wiki/Technology_adoption_lifecycle">“Innovators” to “Early Adopters” phase:</a>
		</p>
		<br>
		<p>
  			<img class="img-responsive center-block" alt="Innovation Curve" src="/static/img/mempool/end-the-fed-hoard-bitcoins/innovationcurve.jpg"/>
  		</p>
  		<br>
		<p>
			This transition is accelerated by new intermediaries, like <a href="https://coinbase.com/about">Coinbase</a>, that are driving down the cost of selling fiat money for bitcoins. At the same time as demand is increasing, bitcoin inflation slowed considerably due to the <a href="http://bitcoinmagazine.com/block-reward-halving-a-guide/">block reward halving</a>:
		</p>
		<br>
		<p>
  			<img class="img-responsive center-block" alt="Bitcoin Inflation" src="/static/img/mempool/end-the-fed-hoard-bitcoins/Bitcoin-Inflation.png"/>
  		</p>
  		<br>
		<p>
			The dollar value of all bitcoins in existence now <a href="https://blockchain.info/charts/market-cap">exceeds $300 million</a>:
		</p>
		<br>
		<p>
	  		<img class="img-responsive center-block" alt="Bitcoin Marketcap" src="/static/img/mempool/end-the-fed-hoard-bitcoins/marketcap.jpg"/>
  		</p>
  		<br>
		<p>
			This leads us to an interesting question: is the value of bitcoins a <a href="http://en.wikipedia.org/wiki/Economic_bubble">speculative bubble</a>?
		</p>

		<p>
			The price of fiat currencies (and the debts <a href="http://www.investopedia.com/terms/d/denomination.asp">denominated</a> in fiat) is the bubble that will burst; the relevant question is when the <a href="http://en.wikipedia.org/wiki/Purchasing_power">purchasing power</a> of bitcoins will peak. The appreciation of bitcoins relative to consumer goods will slow down when the adoption rate tapers off and hoarders will use their gains to buy consumer goods. Simultaneously, fiat currencies will be in a hyperinflationary tail-spin and real interest rates will be spiking. High real interest rates will incentivize hoarders of bitcoin to buy productive investment assets and lend to borrowers now unencumbered by fiat-denominated debts. At that point bitcoin’s purchasing power for capital goods (i.e. interest rates) will decline, but the purchasing power for consumer goods will continue to drift higher due to productivity-fueled deflation.
		</p>

		<p>
			If you're interested in getting rid of central banking I would recommend hoarding bitcoins by transferring your dollars to <a href="http://www.coinbase.com">coinbase.com</a> (1% fee) and  sending the bitcoins you buy to a <a href="https://en.bitcoin.it/wiki/Securing_your_wallet">secure computer</a>. This hoarding sets off a virtuous feedback loop that accelerates Bitcoin adoption:
		</p>
		<br>
		<p>
  			<img class="img-responsive center-block" alt="Bitcoin Marketcap" src="/static/img/mempool/end-the-fed-hoard-bitcoins/bitcoinfeedbackloops.jpg"/>
  		</p>
  		<br>
  		<p>
			(Flow chart based on Zangelbert Bingledack's <a href="https://bitcointalk.org/index.php?topic=144911.0">post</a>.)
		</p>

{%endblock%}
