<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="page-header">
  		<h1 class="text-center">
  			Hyperbitcoinization 
  			<br>
  			<small>
  				Daniel Krawisz
  			</small>
  		</h1>
  		<h4 class="text-center">
  			March 29, 2014
  		</h4>
  		<br>
  		<p>
	  		<img class="img-responsive center-block img-rounded" alt="BitcoinFace" src="/static/img/mempool/hyperbitcoinization/BitcoinFace.png"/>
  		</p>
  	</div>

  	<h2>
  		Bitcoin-Induced Demonetization
  	</h2>
	
		<p>
			This article is about Bitcoin-induced currency demonetization, or <em>hyperbitcoinization</em>, which is what will happen to any hapless currency that stands in Bitcoin&#8217;s path of <a title="Why Bitcoin Will Continue to Grow" href="{{url_for('blogpost', slug='why-bitcoin-will-continue-to-grow')}}">total world domination</a>. The currency will rapidly lose value as Bitcoin supplants it. What will such an event be like and how can it be understood economically?
		</p>

	<h2>
		Comparison to Hyperinflation
	</h2>

		<p>
			<em>Demonetization</em> refers to a process by which people cease to use a good as a currency, and <em>hyperinflation</em> is a kind of demonetization when the government inflates the currency at an accelerating pace. Hyperbitcoinization is a different kind, though it will appear (superficially) similar. In both kinds events, prices in the doomed currency will skyrocket until it is no longer a currency at all.
		</p>

		<p>
			There are two essential differences between hyperinflation and hyperbitcoinization. The first is that a currency hyperinflates with restricted competition from other currencies, whereas hyperbitcoinization happens because of competition with Bitcoin. This is because capital controls are much more effective on other fiat currencies than on Bitcoin, so it is easy for Bitcoin to cross borders and compete with anything.
		</p>

		<p>
			The second is that in a hyperinflation, the government expands the money supply to outpace people&#8217;s inflation expectations. Demonetization occurs as a result of their destructive interaction. Whereas a hyperbitcoinization event need not be accompanied by any change in the supply of either currency.
		</p>

		<p>
			As the government forms a habit of inflating the money supply, its people form a habit of anticipating rising prices. This prevents the government from gaining as much each time it inflates. Thus, to get the same kick, the government must inflate more. The money loses value once people anticipate such heavy inflation that they can&#8217;t spend it fast enough and it no longer functions as a currency.
		</p>

		<p>
			Hyperinflation is an entrepreneurial act on the part of government, in the sense that it involves a continually changing intervention that prevents an equilibrium from forming. The government must continually alter its own behavior to stay ahead of its people&#8217;s. The moment they begin to anticipate its future policy, the government must change the policy by increasing the rate of inflation.
		</p>

		<p>
			Hyperbitcoinization is a voluntary transition from an inferior currency to a superior one, and its adoption is a series of individual acts of entrepreneurship rather than a single monopolist that games the system.
		</p>

	<h2>
		Whoops, You Just Got Bitcoin&#8217;d!
	</h2>

		<p>
			Based on these two differences, I make two predictions about a hyperbitcoinization event.
		</p>

		<ol>
			<li>
				<p>
					<em>A hyperbitcoinization event will be much quicker than a hyperinflation event</em>. I have two reasons for this. First, the government will have a much greater difficulty preventing bitcoins from entering the country due to the impotency of capital controls upon it. Second, hyperinflation is inherently an attempt to fool people, whereas hyperbitcoinization is quite regular and predictable (at least by comparison). Therefore people will more easily see that they had better switch over. Thus, as fast as hyperinflation is, hyperbitcoinization will be even faster. It will happen <a title="Why Bitcoin Will Continue to Grow" href="{{url_for('blogpost', slug='why-bitcoin-will-continue-to-grow')}}">much faster than you expect</a>.
				</p>
			</li>

			<li>
				<p>
					<em>Hyperbitcoinization will not disrupt the economy to nearly the same degree as hyperinflation.</em> The currency is the instrument of the division of labor, and hyperinflation makes it unreliable and forces people to use worse alternatives. In a hyperbitcoinization event, people switch from a fundamentally inferior currency to a superior one, whereas in a hyperinflationary event people will only switch to a new currency once the old currency becomes worse than the next best alternative, such as gold or detergent. Hyperbitcoinization should be accompanied by a rapid improvement in productivity and wealth.
				</p>
			</li>
		</ol>
		
		<p>
			Hyperbitcoinization will probably be a confusing time for everyone, like a second adolescence. However, once it is over, no one will be able to imagine how we got by with the earlier system.
		</p>
		<br>
		
		<p>
			<img class="img-responsive center-block img-rounded" alt="Bitcoinbody" src="{{url_for('static', filename='img/mempool/hyperbitcoinization/Bitcoinbody.png')}}" />
		</p>
		
		<p class="text-muted text-center">
			(Original artwork by the author)
		</p>
		<br>
	<br>
		<div class = "text-center">
			<p>
				<a href="https://coinbase.com/checkouts/c16886a2ff866480977fde7c18ce0edf" target="_blank" type="button" class="btn btn-success">
					Donate to Daniel
				</a>
			</p>
			<br>
			<p>
				<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x101BBC10F86C4A64" type="button" class="btn btn-info">
					Daniel's Public Key
				</a>
			</p>
		</div>
	<br>


</div>

{%endblock%}
