<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="page-header">
  		<h1 class="text-center">
  			I Love Bitcoin&#8217;s Volatility 
  			<br>
  			<small>
  				Daniel Krawisz
  			</small>
  		</h1>
  		<h4 class="text-center">
  			January 28, 2014
  		</h4>
  		<br>
  		<p>
	  		<img class="img-responsive center-block img-rounded" alt="Nami" src="/static/img/mempool/i-love-bitcoins-volatility/nami.jpg"/>
  		</p>
  	</div>


	<h2>
		I Hate Success and Happiness
	</h2>
	
		<p>
			The discourse surrounding Bitcoin is often characterized by boot-quaking naysayers crying about things that don&#8217;t make any sense. &#8220;Bitcoin is too volatile!&#8221; they lament. &#8220;Nobody will ever use something so volatile! Bitcoin will never be widely adopted while it&#8217;s like this!&#8221;
		</p>

		<p>
			This argument is superficial and short sighted. Volatility is not a property that is inherent in Bitcoin. It is caused by the way people currently treat Bitcoin in the market. It is a function of peoples&#8217; attitudes and behaviors. Bitcoin&#8217;s rapid adoption rate almost completely explains its volatility today; I see no need, at any rate, that any additional explanation is required. Bitcoin&#8217;s enormous manias and crashes are simply a reflection of the difficulty of negotiating a reasonable price, even in the short term, in an environment that changes so quickly. Something that regularly grows in both popularity and usefulness will necessarily be volatile.
		</p>

		<p>
			To complain that no one will use Bitcoin because it is too volatile is therefore like saying, &#8220;Bitcoin&#8217;s adoption rate is so astonishingly fast that it will <em>never</em> be popular!&#8221; It&#8217;s like saying, &#8220;This oven is heating up so fast that I&#8217;ll <em>never</em> be able to cook with it!&#8221; It&#8217;s like saying, &#8220;This novel is so exciting that no one will <em>ever</em> read it!&#8221;
		</p>


		<p>
			There is no evidence that Bitcoin&#8217;s volatility is hurting it. Any imaginable indication of Bitcoin&#8217;s adoption rate will show that its adoption rate is extraordinarily rapid, so how, exactly, can volatility be a problem? If Bitcoin were <em>less</em> volatile, would it have an even <em>more</em> rapid adoption rate? This is nonsense because Bitcoin&#8217;s price has to go up as more people start using it, and if a <em>lot</em> of new people start using it, then it has to go up <em>fast</em> (that is, be volatile).
		</p>


		<p>
			What a thing to complain about. There&#8217;s no pleasing some people. These people are on to something so fantastically great that people go mad trying to get some whenever they learn about it and they are wringing their hands and shedding tears. It&#8217;s hard to imagine a more severe <a href="https://en.wikipedia.org/wiki/Jonah_Complex">Jonah complex</a>. Obviously the people <em>buying</em> bitcoins don&#8217;t consider it enough of a problem to deter them.
		</p>


	<h2>
		Volatility Versus Liquidity
	</h2>
	
		<p>
			Volatility can be distinguished from liquidity, which is something that Bitcoin really does need. Liquidity means that a valuable amount of the good can be bought or sold without significantly altering the price, whereas volatility refers to the degree and rapidity of price changes, independent of the volume of trade.
		</p>

		<p>
			The liquidity of a currency limits the size and volume of purchases that can be made with it. If you could not buy or sell the same value in bitcoins as a house without significantly altering its price, then you could not purchase a house with bitcoins.
		</p>

		<p>
			A currency can be volatile and still be liquid. It is liquid if one person can buy a lot without affecting the price. However, if lots of people all try to buy a lot at the same time, then it will still be volatile.
		</p>

	<h2>
		The Right Price
	</h2>
	
	<br>
	<p>
  		<img class="img-responsive center-block" alt="Biohazard" src="/static/img/mempool/i-love-bitcoins-volatility/biohazard.jpg" />
	</p>  
  	<div class="text-center">
  		<p>
			Warning: volatile commodity
		</p>
	</div>

		<p>
			This brings up the question of what a good price for Bitcoin would be. When will Bitcoin stabilize? It should become less volatile as it becomes more widely adopted because it will be harder for local events and individual people to affect the price very much, right?
		</p>

		<p>
			Not necessarily. Although perhaps we will see less wild daily swings, I think Bitcoin is unlikely to <em>ever</em> attain anything like a stable price. If Bitcoin&#8217;s price were stable, this would mean that it had achieved an equilibrium with the other currencies. There would have to be some sweet spot at which there is exactly the right balance of bitcoins and dollars. When Bitcoin&#8217;s price went a little bit too high, people would start to sell for dollars, and when it went a little bit too low, people would buy more bitcoins.
		</p>

		<p>
			To anyone who thinks this is possible, I ask why would any equilibrium happen? What would it possibly mean for Bitcoin&#8217;s price to be <em>too high</em>? Unlike just about anything else, a higher price for Bitcoin does not reduce its usefulness one bit. One simply trades in smaller amounts of it. In fact, a higher price makes Bitcoin <em>more</em> useful because a higher price indicates that more people want to buy, which means that Bitcoin&#8217;s liquidity grows, which makes it more useful as a currency.
		</p>

		<p>
			Therefore, I would suggest that we should never expect an equilibrium between bitcoins and dollars or any other currencies. Instead, Bitcoin should show a pattern of <a href="http://konradsgraf.com/blog1/2013/11/7/hyper-monetization-reloaded-another-round-of-bubble-talk.html">hypermonetization</a>. It will become more and more valuable at a faster and faster rate in terms of other currencies. Its price chart should show an asymptotic increase that approaches infinity after a finite time.
		</p>

		<p>
			Bitcoin may stabilize in terms of real goods, but I see no reason to think that it will stabilize in terms of other currencies. Once Bitcoin starts killing the other currencies, it will <em>still</em> be volatile, and this will <em>still</em> be an indication of its success.
		</p>

		<p>
			If my prediction is wrong and Bitcoin ever stops being volatile, that might be a good time to dump it.
		</p>

	<h2>The Purposes of Money</h2>
	
		<p>
			&#8220;But,&#8221; the whiners protest, &#8220;Bitcoin can&#8217;t be used as a unit of account! How can it be a currency when you can&#8217;t use it to distinguish a profit from a loss?&#8221;
		</p>

		<p>
			To put this argument in context, let us review the three traditional functions of money. Money is often simultaneously a store of value, medium of exchange, and unit of account. The argument goes that if a good is not useful as a unit of account then it is not money. However, the only necessary relation between these three functions is that a medium of exchange must <em>also</em> be a store of value. A thing can serve as a store of value without being a medium of exchange or a unit of account, and a thing can be a unit of account without being either of the other two. <a href="http://konradsgraf.com/blog1/2013/9/14/bitcoin-as-medium-of-exchange-now-and-unit-of-account-later.html">Konrad Graf has written an article developing this point</a>.
		</p>

		<p>
			There is no particular reason that Bitcoin&#8217;s volatility, which makes it less useful as a unit of account, should impede its growth as a currency. It is still excellent as a store of value and a medium of exchange, which are good enough reasons to buy into it. Furthermore, there is nothing stopping a Bitcoin investor from doing business in Bitcoin and using national currencies like the dollar or Euro as a unit of account.
		</p>

		<p>
			In the relatively near future, there may come a time when no real unit of account is available because Bitcoin will be growing at a rapid pace even as the other currencies are hyperinflating. The world won&#8217;t fall apart: people will just have to think a little bit more carefully about their economic decisions during this period. And this will be the ultimate sign of Bitcoin&#8217;s success.
		</p>
		
	<h2>
		Get Ready for a Wild Ride
	</h2>

		<p>
			Those who worry about Bitcoin&#8217;s volatility fail to understand what it actually means for Bitcoin. They are not able to think far enough ahead to understand Bitcoin&#8217;s ultimate destiny.
		</p>

		<p>
			In the short term, what&#8217;s one decimal point right or left? Bitcoin is unstable at any price, and we should all feel lucky that we managed to get in on it when it still has a price. Now sit back, quit complaining, have a nice glass of wine, and watch as Bitcoin takes over the world.
		</p>
	<br>
		<div class = "text-center">
			<p>
				<a href="https://coinbase.com/checkouts/c16886a2ff866480977fde7c18ce0edf" target="_blank" type="button" class="btn btn-success">
					Donate to Daniel
				</a>
			</p>
			<br>
			<p>
				<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x101BBC10F86C4A64" type="button" class="btn btn-info">
					Daniel's Public Key
				</a>
			</p>
		</div>
	<br>

		<p>
			Edit, Feb 1, 2014: added section on &#8220;Volatility Versus Liquidity&#8221;.
		</p>
</div>

{%endblock%}
