<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="page-header">
  		<h1 class="text-center">
  			I&#8217;m Hoarding Bitcoins, and No You Can&#8217;t Have Any
  			<br>
  			<small>
  				Daniel Krawisz
  			</small>
  		</h1>
  		<h4 class="text-center">
  			February 12, 2014
  		</h4>
  		<br>
  		<p>
	  		<img class="img-responsive center-block img-rounded" alt="Uncle Scrooge" src="/static/img/mempool/im-hoarding-bitcoins-and-no-you-cant-have-any/uncle-scrooge.jpg"/>
	  	</p>
  	</div>

		<p>
			Those nasty hoarders! You know the ones. They won&#8217;t use bitcoins because they think they&#8217;ll be worth so much more later. But how can we convince businesses to accept bitcoins if no one will spend them? We need to guilt those hoarders into spending their bitcoins to support the merchants! This article is about why this line of reasoning is exactly wrong.
		</p>

	<h2>
		If You Sell Bitcoins, You Aren&#8217;t &#8220;Selling&#8221; Bitcoins
	</h2>

		<p>
			I&#8217;m sure you&#8217;ve heard a story like this. &#8220;I&#8217;ve been going to all the local stores and telling them how awesome Bitcoin is! But none of them wants to take payments in Bitcoin! Why don&#8217;t they like it?&#8221;
		</p>

		<p>
			Let&#8217;s think about that for a minute. You are essentially telling the merchant, &#8220;Hey look at this totally awesome thing that I want to get rid of! You should trade me some stuff for it!&#8221; Not actually much of a sales pitch, is it? Why would the merchant want something that you, apparently, <em>don&#8217;t</em> want? If you really want him to start accepting bitcoins himself, ask him, &#8220;Do you take worthless paper money at this store? Good, because you&#8217;re not getting a satoshi from me!&#8221; That will convince him that you think they&#8217;re valuable.
		</p>

		<p>
			How about this instead? Tell your local merchants that you want to be able to spend cash in their stores and get the change in bitcoins. That&#8217;s the kind of store I&#8217;d like to shop at. And then when the merchant later says &#8220;I&#8217;m not going to do that anymore. I want you to pay me in bitcoins!&#8221; you know he&#8217;s become a true hoarder.
		</p>

	<h2>
		Hoarders Give Bitcoin Value
	</h2>
	<br>
	<p>
  		<img class="img-responsive center-block img-rounded" alt="Gold Bars" src="/static/img/mempool/im-hoarding-bitcoins-and-no-you-cant-have-any/gold-bars.jpg"/>
  	</p>
  	<br>
  		<p>
  			The initial price of bitcoin was caused by people who wanted to hold it, not people who wanted to spend it. Furthermore, each subsequent step in Bitcoin&#8217;s advance must begin with more holders, not more spenders. The business that bitcoins can absorb is limited by its market cap. At a market cap of two or three billion dollars, Bitcoin can absorb many small businesses but it cannot be used for international oil trade. It would have to be dozens of times more expensive for that, and it can only achieve that if the peoples&#8217; desire to hold bitcoins continues to increase faster than their desire to spend them. Thus, one who wants Bitcoin to become mainstream should never want its price to be lower. He should want an ever-increasing supply of hoarders.
		</p>

		<p>
			It is true that Bitcoin&#8217;s price can occasionally and temporarily outpace the growth in its real prospects, but this is merely a byproduct of Bitcoin&#8217;s phenomenal success. A commodity which increases in price as quickly as bitcoins can be expected to experience shocks and manias on its way up because it would be difficult to tell the difference between a sustainable price increase and short-term speculation. However, does it make really sense to prefer an alternative history for Bitcoin in which its price has increased slowly enough that it never developed any manias? I do not see how that could possibly be preferable. The faster Bitcoin grows, the more complete and decisive will be its victories, and the more difficult it will be for its natural enemies to react to it.
		</p>

	<h2>
		Who Needs Merchants Anyway?
	</h2>

		<p>
			One of the most annoying things about Bitcoin is that it&#8217;s so convenient to make payments with it that sometimes it is extremely tempting to spend it and avoid the hassle of using dollars. One of the ways to help deal with the temptation to spend is to demand a Bitcoin discount at any store that accepts Bitcoin. This is perfectly reasonable because not only is the store lowering its own costs by using Bitcoin, but it is asking me to give up an inherently superior commodity.
		</p>

		<p>
			Hoarders are more important than merchants. If a restaurant downtown starts accepting bitcoins, this does not necessarily create an incentive for anybody to buy more bitcoins. Why would anyone bother if they can still just use a credit card? If you can convince a merchant to accept bitcoins and stop accepting dollars, then I&#8217;ll be impressed.
		</p>

		<p>
			Unless a merchant is offering something that cannot be bought for dollars, or at least offering a discount, he is only benefiting Bitcoin to the extent that he encourages more hoarding. If he immediately converts the bitcoins he receives as payment into dollars, and if his customers only buy bitcoins so as to spend them at his shop shortly thereafter, then neither has much direct effect on Bitcoin’s demand. The real hero is the hoarder behind the scenes who buys from the merchant and enables him to convert his payments into dollars.
		</p>

	<h2>
		Greed is Your Friend
	</h2>
	<br>
	<p>
  		<img class="img-responsive center-block img-rounded" alt="Dragon" src="/static/img/mempool/im-hoarding-bitcoins-and-no-you-cant-have-any/dragon.jpg"/>
  	</p>
  	<br>
  		<p>
			There can be no spending of bitcoins without the buying of them, and thus all use of bitcoins as a medium of exchange depend on someone who wants to increase his holdings, i.e., a hoarder. Without them there could literally be no Bitcoin trade. Furthermore, it is counterproductive to try to turn hoarders into spenders. There really is no compelling reason that anybody should spend bitcoins any time soon–—if everybody is hoarding, that will just make the price go up until finally someone can&#8217;t help spending some.
		</p>

		<p>
			Currencies are unusual in that the greater is its market cap, the more useful they are. This is in contrast to a more ordinary security, such as a stock, because a stock has a better value the cheaper it is in relation to the underlying assets of the company. A more expensive currency is <em>ipso facto</em> more marketable (more liquid), thus making it a superior medium of exchange. The more bitcoin hoarding there is, the better it is as a medium of exchange.
		</p>

		<p>
			Thus, the success of Bitcoin is, to some extent, a <a href="http://konradsgraf.com/blog1/2013/11/7/hyper-monetization-reloaded-another-round-of-bubble-talk.html">self-fulfilling prophesy</a>. Belief in Bitcoin improves the Bitcoin network, as long as people back-up that belief by the the action of acquiring and holding more. The more greedy people are for Bitcoin, the better are its chances. You should never want people to spend more—you should want everyone to be as greedy as possible.
		</p>


	<h2>
		All Hail the Hoarders
	</h2>

		<p>
			Let out your inner hoarder. Don&#8217;t deny your urges. Let him out and come to terms with him. Imagine how he would look if he could sit on your hoard of bitcoins. Doesn&#8217;t he look terribly happy? Let him roll in your bitcoins. Doesn&#8217;t he look so cute poring over his copy of Atlas Shrugged? Look at how gleeful he is as he buries it in his basement. Now let his avariciousness flow over you. Let it seep under your skin. Let your hands clutch! Let you teeth clench and your mouth contort into a covetous grimace. I want to hear cackles!
		</p>

		<p>
			Now didn&#8217;t that feel good? The Bitcoin economy will thank you in the end!
		</p>

		<p>
			I conclude with one proviso: it can be very effective to give out small amounts of bitcoins just to help accustom people to having them. However, the reason this is effective is that it helps spread avarice around.
		</p>

		<br>
		<p>
			Read in <a href="{{url_for('blogposttrans', slug='im-hoarding-bitcoins-and-no-you-cant-have-any', lang='ru')}}">Russian</a> and <a href="{{url_for('blogposttrans', slug='im-hoarding-bitcoins-and-no-you-cant-have-any', lang='es')}}">Spanish</a>
		</p>

	<br>
		<div class = "text-center">
			<p>
				<a href="https://coinbase.com/checkouts/c16886a2ff866480977fde7c18ce0edf" target="_blank" type="button" class="btn btn-success">
					Donate to Daniel
				</a>
			</p>
			<br>
			<p>
				<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x101BBC10F86C4A64" type="button" class="btn btn-info">
					Daniel's Public Key
				</a>
			</p>
		</div>
	<br>

		<p>
			<a href="http://ilporticodipinto.it/content/metto-da-parte-bitcoin-e-no-non-ne-do-nessuno">Italian translation</a> by Portico Dipinto!
		</p>
</div>

{%endblock%}
