<!-- extend base layout -->
{% extends "blogpost.html" %}
{% block post %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="page-header">
      <h1 class="text-center">
        Meditations on Cypherpunk Nightmares
        <br>
        <small>
          Michael Goldstein
        </small>
      </h1>
      <h4 class="text-center">
        December 25, 2014
      </h4>
      <p>
        <img class="img-responsive center-block img-rounded" alt="" src="/static/img/mempool/meditations-on-cypherpunk-nightmares/landscape-with-the-colosseum-and-the-monument-to-marcus-aurelius.jpg"/>
      </p>
    </div>

    <h3>Crypto Anarchy Spreads</h3>

    <p>
      In his classic <a href="http://nakamotoinstitute.org/crypto-anarchist-manifesto/">“Crypto Anarchist Manifesto,”</a> Timothy C. May offered a vision of the future that offers society plenty of challenges to grapple with, thanks to public-key cryptography. A particularly interesting challenge is the anonymous information market:
    </p>

    <blockquote>
      <p>
        The State will of course try to slow or halt the spread of this technology, citing national security concerns, use of the technology by drug dealers and tax evaders, and fears of societal disintegration. Many of these concerns will be valid; crypto anarchy will allow national secrets to be trade freely and will allow illicit and stolen materials to be traded. An anonymous computerized market will even make possible abhorrent markets for assassinations and extortion. Various criminal and foreign elements will be active users of CryptoNet. <strong>But this will not halt the spread of crypto anarchy.</strong>
      </p>

      <p>
        Just as the technology of printing altered and reduced the power of medieval guilds and the social power structure, so too will cryptologic methods fundamentally alter the nature of corporations and of government interference in economic transactions. <strong>Combined with emerging information markets, crypto anarchy will create a liquid market for any and all material which can be put into words and pictures.</strong> And just as a seemingly minor invention like barbed wire made possible the fencing-off of vast ranches and farms, thus altering forever the concepts of land and property rights in the frontier West, so too will the seemingly minor discovery out of an arcane branch of mathematics come to be the wire clippers which dismantle the barbed wire around intellectual property.
      </p>

      <p>
        [Emphasis mine]
      </p>
    </blockquote>

    <p>
      Two lessons here:
    </p>

    <ol>
      <li>All information will be on the market.</li>
      <li>This market will exist whether you like it or not.</li>
    </ol>

    <p>
      Also, by <em>will</em>, I mean <em>already</em>.
    </p>

    <p>
      We have already seen <a href="https://wikileaks.org/">WikiLeaks</a> and <a href="https://en.wikipedia.org/wiki/Edward_Snowden">Edward Snowden</a> open the floodgates for State secrets (which include your secrets). We have also already seen Bitcoin enable the <a href="http://bitcoinist.net/the-fappening-brought-to-you-by-the-information-marketplace/">Fappening marketplace of celebrity nude pictures</a>.
    </p>

    <p>
      And now a website promoted by WikiLeaks’s Twitter account wants to take it to the next level. <a href="http://slur.io/">Slur.io</a> promises to be WikiLeaks 2.0:
    </p>

    <blockquote>
      Slur is an open source, decentralized and anonymous marketplace for the selling of secret information in exchange for bitcoin. Slur is written in C and operates over the Tor network with bitcoin transactions through libbitcoin. Both buyers and sellers are fully anonymous and there are no restrictions on the data that is auctioned. There is no charge to buy or sell on the Slur marketplace except in the case of a dispute, where a token sum is paid to volunteers.
    </blockquote>

    <p>
      For everything from trade secrets to State secrets to zero-day exploits to “the complete databases of social media sites like facebook,” there will be a price in Bitcoin.
    </p>

    <em>I would recommend that anyone alive in 2014 not only assume that their secrets will be leaked, but assume that they have already been leaked.</em>

    <h3>Ancient Wisdom </h3>

    <p>
      Coping with this idea is not easy, as we all have said something in the past we regret or something we did intend for public consumption. These problems, however, are not made new by the Internet. Instead, the Internet allows us to rid ourselves of past illusions of privacy that were largely unchallenged before. With this in mind, we can look to the <a href="http://plato.stanford.edu/entries/stoicism/">ancient Stoics</a> for timeless advice.
    </p>

    <h4>On change</h4>

    <blockquote>
      The universe is change: life is judgement.
      <footer>Marcus Aurelius, <em>Mediations</em> (Book IV, 3.4)</footer>
    </blockquote>

    <p>
      If we take Tim May’s words, and empirical data, seriously, crypto-anarchy as he describes it is happening and continues to happen. Technology is a double-edged sword in that everyone from criminals to people of virtue get to employ it to suit their ends. However, this should just be taken as a fact of nature, as wishing for a way to stop it is utopian at best and totalitarian at worst. When Cody Wilson and <a href="https://defdist.org/">Defense Distributed</a> gave the world the Liberator, we were forced to face the fact that technology is not democratic. There was no vote for whether 3D printed guns, public-key cryptography, Bitcoin, or BitTorrent should exist. Each was just the product of entrepreneurship by Cody Wilson, Whitfield Diffie & Martin Hellman, Satoshi Nakamoto, and Bram Cohen. They came into existence, and we must deal with the consequences. If bad people can use these technologies, we must use them even better.
    </p>

    <p>
      The world changes, and that is not good or bad. Only our perceptions and reactions matter.
    </p>

    <h4>On Maintaining a Virtuous Mind</h4>

    <blockquote>
      [I]n the sequence of your thoughts you must avoid all that is casual or aimless, and most particularly anything prying or malicious. Train yourself to think only those thoughts such that in answer to the sudden question “What is in your mind now?” you could say with immediate frankness whatever it is, this or that: and so your answer can agive direct evidence that all your thoughts are straightforward and kindly, the thoughts of a social being who has no regard for the fancies of pleasure or wider indulgence, for rivalry, malice, suspicion, or anything else that one would blush to admit was in one’s mind.
      <footer>Marcus Aurelius, <em>Meditations</em> (Book III, 4.2)</footer>
    </blockquote>

    <p>
      Strong cryptography is great at protecting information from prying eyes, but using cryptography is a matter of risk management rather than finding panaceas. Expecting even encrypted or anonymized information to remain in that state forever, even if likely, is problematic if not only for tricking us into cultivating bad habits and being too risky with where we let our minds and actions take us. Unencrypted communication is like sending a postcard, as Phil Zimmermann described it, completely readable to anyone it passes.
    </p>

    <p>
      A solution to this is to aim to be virtuous in thought and action in the first place, such that all communications, public and private, remain true to your goals and principles. This would not make the leaking of your secrets enjoyable, but rather minimize the exposure to downside risks to your reputation. And even if that is not the case, you will have stayed true to yourself, and that is what matters most.
    </p>

    <h4>On Friendships and Trust</h4>

    <blockquote>
      [I]f you consider any man a friend whom you do not trust as you trust yourself, you are mightily mistaken and you do not sufficiently understand what true friendship means. Indeed, I would have you discuss everything with a friend; but first of all discuss the man himself. When friendship is settled, you must trust; before friendship is formed, you must pass judgment. Those persons indeed put last first and confound their duties, who, violating the rules of Theophrastus, judge a man after they have made him their friend, instead of making him their friend after they have judged him. Ponder for a long time whether you shall admit a given person to your friendship; but when you have decided to admit him, welcome him with all your heart and soul. Speak as boldly with him as with yourself.
      <footer>Seneca, <a href="https://en.wikisource.org/wiki/Moral_letters_to_Lucilius/Letter_3">“On True and False Friendship”</a></footer>
    </blockquote>

    <p>
      As I said above, <a href="http://nakamotoinstitute.org/mempool/bitcoin-is-great-but-it-wont-fix-our-monkey-brains/">strong cryptography is not a panacea</a>. Even the strongest end-to-end encryption does not protect you from information leaking from the other end. It is therefore important to know and trust who you are communicating, both on virtue and on security capabilities. To trust in cryptographic communication should be to have confidence in your peer and to understand their vulnerabilities. Nice people can be hacked, too.
    </p>

    <p>
      Therefore, make the best friends. Build strong, trusted relationships with other individuals, and know the limits of those relationships. Sign keys, verify fingerprints, and most importantly, know what value you truly give one another. Do not let social media devalue the word friend, lest you fraternize with <a href="http://nakamotoinstitute.org/mempool/everyones-a-scammer/">scammers</a>.
    </p>

    <h3>Conclusion</h3>

    <p>
      There was never such a thing as privacy. The Internet just made the fact clear. Privacy can and should be constructed, but it will never be perfected. Protecting ourselves from the dangers of crypto-anarchy requires embracing it even more fully and internalizing and practicing the virtues that have helped great men weather the storms of life since antiquity.
    </p>

    <h3>Suggested Readings and Actions</h3>

    <h4>Stoic Literature</h4>

    <p>
      Stoic wisdom has guided great men throughout history and will continue to do so.
    </p>

    <ul>
      <li>
        <em><a href="https://en.wikisource.org/wiki/The_Thoughts_of_the_Emperor_Marcus_Aurelius_Antoninus">Meditations</a></em> by Marcus Aurelius (Translations in this post are from the <a href="http://amzn.com/0140449337">Penguin Classics edition<a>
      </li>

      <li>
        <em><a href="https://en.wikisource.org/wiki/Moral_letters_to_Lucilius">Moral Letters to Lucilius</a></em> by Seneca
      </li>

      <li>
        <em><a href="https://en.wikisource.org/wiki/Enchiridion">Enchidrion</a></em> by Epictetus
      </li>

      <li>
        <em><a href="http://amzn.com/1591846358">The Obstacle is the Way</a></em> by Ryan Holiday
      </li>
    </ul>

    <h4>The Cypherpunks and Crypto-Anarchy</h4>

    <p>
      The better you understand crypto-anarchy, the better you can contend with the future.
    </p>

    <ul>  
      <li>
        <a href="http://nakamotoinstitute.org">Satoshi Nakamoto Institute</a>
      </li>

      <li>
        <a href="http://cypherpunks.venona.com/date/">Cypherpunk mailing list archives</a>
      </li>

      <li>
        <a href="http://szabo.best.vwh.net/">Nick Szabo’s Essays, Papers, and Concise Tutorials</a>
      </li>

      <li>
        <a href="http://amzn.com/0142180491"><em>This Machine Kills Secrets</em></a> by Andy Greenberg
      </li>

      <li>
        <a href="http://amzn.com/0140244328"><em>Crypto</em></a> by Steven Levy
      </li>
    </ul>

    <h4>Tutorials</h4>

    <p>
      Friends don’t let friends not understand basic GPG and Bitcoin security.
    </p>

    <ul>
      <li>
        <a href="http://www.contravex.com/2014/09/23/please-to-pgp-guide-for-linux-os-x-windows/" >“Please To PGP (Guide for Linux, OS X, Windows)”</a> by Pete Dushenski
      </li>
      
      <li>
        <a href="http://www.contravex.com/2014/03/14/on-making-high-entropy-bitcoin-paper-wallets/">“On Making High-Entropy Paper Wallets”</a> by Pete Dushenski (Make it even easier with Pierre Rochard and I’s <a href="https://github.com/PierreRochard/entropic">Entropic</a>)
      </li>
      
      <li>
        <a href="http://www.contravex.com/2014/03/31/biting-into-the-wot-elephant-and-irc-nicknames/">“Biting Into The WoT Elephant (And IRC Nicknames)”</a> by Pete Dushenski
      </li>
      <li>
        <a href="http://www.contravex.com/2014/10/11/the-six-pillars-for-surviving-in-computer-times/">“The Six Pillars for Surviving in Computer Times”</a> by Pete Dushenski
      </li>
    </ul>

    <h4>Information Diets and Media Manipulation</h4>

    <p>
      Everything you read is probably a lie. Keep your signal to noise ratio as high as possible.
    </p>

    <ul>
      <li>
        <em><a href="http://amzn.com/1591846285">Trust Me, I’m Lying</a></em> by Ryan Holiday
      </li>

      <li>
        <em><a href="http://amzn.com/0812975219">Fooled by Randomness</a></em> by Nassim Nicholas Taleb
      </li>
    </ul>

</div>
{%endblock%}