<header>
  <div class="container">
    <nav class="navbar navbar-expand-md px-0 mx-auto mb-4">
      <a class="navbar-brand mr-auto" href="{{url_for('index')}}">Satoshi Nakamoto Institute</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('satoshi_index')}}">The Complete Satoshi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('literature')}}">Literature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('research')}}">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('blog')}}">Mempool</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
