{% extends "base.html" %}

{% block title %}
Crash Course | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="border-bottom mb-4 pb-4">
    <h1 class="text-center">The SNI Mempool Crash Course in Bitcoin Political Economy</h1>
    <img class="img-fluid rounded d-block mx-auto" alt="BitcoinFace" src="{{url_for('static', filename='img/mempool/hyperbitcoinization/BitcoinFace.png')}}" />
  </div>

  <blockquote class="blockquote border-bottom mb-4 pb-4">
    <p class="mb-0">It might make sense just to get some in case it catches on. If enough people think the same way, that becomes a self fulfilling prophecy.</p>
    <footer class="blockquote-footer"><a href="{{url_for('satoshi.emails.detail', source='cryptography', email_id=17)}}">Satoshi Nakamoto</a>, 1/17/2009</footer>
  </blockquote>

  <p>The following is a partial annotated bibliography of the <a href="{{url_for('mempool.index')}}">SNI Mempool</a>, building the case for why Bitcoin will displace all competing currencies, including altcoins, fiat money, and precious metals:</p>

  <p>In terms of monetary policy, Bitcoin is the greatest money the world has ever seen.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='end-the-fed-hoard-bitcoins')}}">"End the Fed: Hoard Bitcoins"</a> by Pierre Rochard</li>
    <li><a href="{{url_for('mempool.detail', slug='fractional-reserve-banking-is-obsolete')}}">"Fractional Reserve Banking is Obsolete"</a> by Pierre Rochard</li>
    <li><a href="{{url_for('mempool.detail', slug='the-bitcoin-central-banks-perfect-monetary-policy')}}">"The Bitcoin Central Bank's Perfect Monetary Policy"</a> by Pierre Rochard</li>
  </ul>

  <p>Bitcoin brilliantly uses the concept of proof-of-work to create consensus in the network. From this, a vision of the future could develop, which in turn gave bitcoins real market value.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='the-proof-of-work-concept')}}">"The Proof-of-Work Concept"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='the-original-value-of-bitcoins')}}">"The Original Value of Bitcoins"</a> by Daniel Krawisz</li>
  </ul>

  <p>Unsurprisingly, Bitcoin has gained substantial popularity, and there is no reason to believe it will not continue to grow. This growth is not merely a bubble.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='why-bitcoin-will-continue-to-grow')}}">"Why Bitcoin Will Continue to Grow"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='how-we-know-bitcoin-is-not-a-bubble')}}">"How We Know Bitcoin is Not a Bubble"</a> by Daniel Krawisz</li>
  </ul>

  <p>Given expected growth, people have reason to hoard bitcoins. This increases the value of the network, giving more reason to hoard. Hoarders can also increase the value of their holdings by investing in open-source development that makes the network more valuable as a whole.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='im-hoarding-bitcoins-and-no-you-cant-have-any')}}">"I'm Hoarding Bitcoins, and No You Can't Have Any"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='bitcoins-compound-rewards')}}">"Bitcoin's Compound Rewards"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='the-correct-strategy-of-bitcoin-entrepreneurship')}}">"The Correct Strategy of Bitcoin Entrepreneurship"</a> by Daniel Krawisz</li>
  </ul>

  <p>As it grows, the network effects of its competitors shrink, and ultimately there can only be one currency.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='the-problem-with-altcoins')}}">"The Problem With Altcoins"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='the-coming-demise-of-altcoins')}}">"The Coming Demise of the Altcoins (And What You Can Do to Hasten It)"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='appcoins-are-snake-oil')}}">"Appcoins are Snake Oil"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='its-not-about-the-technology-its-about-the-money')}}">"It's Not About the Technology, It's About the Money"</a> by Daniel Krawisz</li>
  </ul>

  <p>Volatility currently exists, but so what? If anything, that's a good thing. Hoarders are not swayed.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='i-love-bitcoins-volatility')}}">"I Love Bitcoin's Volatility"</a> by Daniel Krawisz</li>
  </ul>

  <p>Despite people's worries, Bitcoin does not suffer an image problem because of potential illicit usage. In fact, its ability to bypass legal restrictions is one of its biggest selling points and should be celebrated.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='bitcoin-has-no-image-problem')}}">"Bitcoin Has No Image Problem"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='how-to-market-bitcoin')}}">"How to Market Bitcoin"</a> by Daniel Krawisz</li>
  </ul>

  <p>Those who are hoarding are already using Bitcoin as their unit of account, in order to calculate long-term opportunity costs.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='bitcoin-is-the-best-unit-of-account')}}">"Bitcoin is the Best Unit of Account"</a> by Daniel Krawisz</li>
  </ul>

  <p>Indeed, Bitcoin has already positioned itself as the best store of value, unit of account, and medium of exchange around.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='bitcoin-as-a-store-of-value-unit-of-account-and-medium-of-exchange')}}">"Bitcoin as a Store of Value, Unit of Account, and Medium of Exchange"</a> by Daniel Krawisz</li>
  </ul>

  <p>As it grows, it will not only displace competing crypto-currencies but also begin engaging in speculative attacks against weaker fiat currencies.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='speculative-attack')}}">"Speculative Attack"</a> by Pierre Rochard</li>
  </ul>

  <p>Within the system, the protocol rules are bound by the investors. Attacks on the system are possible, but they require entrepreneurship, which takes time. Meanwhile Bitcoin's growth creates agency problems in coordinated attacks by instead incentivizing defection.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='who-controls-bitcoin')}}">"Who Controls Bitcoin?"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='bitcoins-rugged-individualism')}}">"Bitcoin's Rugged Individualism"</a> by Daniel Krawisz</li>
    <li><a href="{{url_for('mempool.detail', slug='bitcoins-shroud-of-subtlety-and-allure')}}">"Bitcoin's Shroud of Subtlety and Allure"</a> by Daniel Krawisz</li>
  </ul>

  <p>In the end, we can expect Bitcoin to displace all other currencies, rapidly, in a process of hyperbitcoinization.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='hyperbitcoinization')}}">"Hyperbitcoinization"</a> by Daniel Krawisz</li>
  </ul>

  <p>With hyperbitcoinization on the way, everyone becomes a scammer. Willpower is the hoarder's only defense.</p>

  <ul>
    <li><a href="{{url_for('mempool.detail', slug='everyones-a-scammer')}}">"Everyone's a Scammer"</a> by Michael Goldstein</li>
  </ul>

  <p>Safe travels.</p>
</div>
{% endblock %}
