{% extends "base.html" %}

{% block title %}
The Skeptics: A Tribute to Bold Assertions | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center">
 	  <h1>The Skeptics</h1>
    <h3>A Tribute to Bold Assertions</h3>
    <p><em>"We propose a global and morally mandatory heuristic that anyone involved in an action which can possibly generate harm for others, even probabilistically, should be required to be exposed to some damage, regardless of context."</em><br>N.N. Taleb & C. Sandis, <a href="http://ssrn.com/abstract=2298292">"The Skin in the Game Heuristic for Protection Against Tail Events"</a></p>
    <p class="text-center mt-3">Submit a link via <a href="https://github.com/NakamotoInstitute/nakamotoinstitute.org">GitHub</a></p>
    <p class="text-center mb-0">Price data by <a href="https://coinmetrics.io/">CoinMetrics.io</a></p>
    <p class="text-center mt-0"><em>Last updated: {{last_updated|dateformat()}}</em></p>
  </div>
  {% for skeptic in skeptics %}
    <hr class="my-4">
    <h3 id="{{skeptic.slug}}"><a class="mx-3" href="#{{skeptic.slug}}"><i class="fas fa-link fa-sm"></i></a>{{skeptic.name}} - {{skeptic.date.strftime('%B %d, %Y')}} ({{skeptic.price}})</h3>
    <p><em>{{skeptic.title}}</em></p>
    <div class="skeptic-stats">
      <hr class="skeptic-stats__border my-1">
      <div class="d-flex justify-content-between flex-wrap flex-column flex-md-row">
        <div class="skeptic-stats__stat d-flex flex-row flex-md-column text-nowrap text-md-center">
          <div class="font-weight-bold">Daily Buy</div>
          <div>$1</div>
        </div>
        <div class="skeptic-stats__stat d-flex flex-row flex-md-column text-nowrap text-md-center">
          <div class="font-weight-bold">Total Invested</div>
          <div>${{skeptic.usd_invested|commafy}}</div>
        </div>
        <div class="skeptic-stats__stat d-flex flex-row flex-md-column text-nowrap text-md-center">
          <div class="font-weight-bold">BTC Balance</div>
          <div>{{skeptic.btc_balance|commafy}}</div>
        </div>
        <div class="skeptic-stats__stat d-flex flex-row flex-md-column text-nowrap text-md-center">
          <div class="font-weight-bold">Current Value</div>
          <div>${{skeptic.usd_value|commafy}}</div>
        </div>
        {% set perc = skeptic.percent_change | float %}
        {% set positive = perc > 0 %}
        <div class="skeptic-stats__stat d-flex flex-row flex-md-column text-nowrap text-md-center">
          <div class="font-weight-bold">Percent Change</div>
          <div class="{% if perc > 0 %}text-success{% elif perc < 0 %}text-danger{% endif %}">{% if perc >= 0 %}+{% endif %}{{skeptic.percent_change|commafy}}%</div>
        </div>
      </div>
      <hr class="skeptic-stats__border mb-3 my-1">
    </div>
    {% if skeptic.source == "Twitter" %}
      {% if skeptic.media_embed %}
      {{skeptic.media_embed|safe}}
      {% elif skeptic.twitter_screenshot %}
      <div class="text-center">
        <img class="img-fluid d-block mx-auto" src="{{url_for('static', filename='img/the-skeptics/' ~ skeptic.slug ~ '.jpg')}}">
      </div>
      {% endif %}
      <ul>
        {% for link in skeptic.link.split(", ") %}
          <li><a href="{{link}}" target="_blank">{{link}}</a></li>
        {%endfor%}
      </ul>
    {% else %}
      <h4><a href="{{skeptic.link}}" target="_blank">{{skeptic.article}}</a> (<em>{{skeptic.source}}</em>)</h4>
    {% endif %}
    {% if skeptic.excerpt %}
    <p>
      <em>{{skeptic.excerpt|safe}}</em><br>
    </p>
    {% endif %}
    {% if not skeptic.source == "Twitter" and skeptic.media_embed %}
    <div class="embed-responsive embed-responsive-16by9 text-center">
      {{skeptic.media_embed|safe}}
    </div>
    {% endif %}
    {% if skeptic.waybacklink %}
    <p>
      <a href="{{skeptic.waybacklink}}" target="_blank">Archive Link</a>
    </p>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
