{% extends "base.html" %}

{% block title %}
The Quotable Satoshi | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="border-bottom mb-3 text-center">
 	  <h1>The Quotable Satoshi</h1>
    <p>It's very attractive to the libertarian viewpoint if we can explain it properly.<br><em>I'm better with code than with words though.</em></p>
    <p><a href="{{url_for('satoshi.emails.detail', source='cryptography', email_id=12)}}">Satoshi Nakamoto</a>, 11/14/2008</p>
  </div>

  <div class="row">
    {% for column in categories | slice(2) -%}
    <div class="col-lg-6">
      <ul class="mb-0">
      {%- for category in column -%}
        <li>
          <a href="{{url_for('satoshi.quotes.detail_category', slug=category.slug)}}">{{category.name}}</a>
        </li>
      {%- endfor -%}
      </ul>
    </div>
    {%- endfor %}
  </div>

  <hr>

  <div class="text-center">
    <p><em>Special thanks to <a href="https://www.buybitcoinworldwide.com/">Jordan Tuwiner</a> for indexing quotations.</em></p>
    <p><em>If there is a quotation or category you would like to add, please <a href="{{url_for('main.contact')}}">contact us</a> or submit a pull request on <a href="https://github.com/NakamotoInstitute/nakamotoinstitute.org">GitHub</a>.</em></p>
  </div>
</div>
{% endblock %}
