<!-- extend base layout -->
{% extends "episode.html" %}
{% block episode %}

<p>
  Daniel Krawisz and Michael Goldstein discuss why the desire for monetary stability is based on economic fallacies.
</p>

<p>
  Related links:
</p>

<ul>
  <li><a href="http://nakamotoinstitute.org/mempool/i-love-bitcoins-volatility/">"I Love Bitcoin's Volatility"</a> by Daniel Krawisz</li>

  <li><a href="http://www.coindesk.com/can-bitcoins-price-ever-stable/">"Can Bitcoin's Price Ever Be Stable?"</a> by Danny Bradbury</li>

  <li><a href="http://mises.org/library/ethics-money-production"><em>The Ethics of Money Production</em></a> by Jörg Guido Hülsmann</li>

  <li><a href="http://amzn.com/0812979680"><em>Antifragile: Things That Gain from Disorder</em></a> by Nassim Nicholas Taleb</li>
</ul>

{%endblock%}