<!-- extend base layout -->
{% extends "episode.html" %}
{% block episode %}

<p>
  Daniel Krawisz and Michael Goldstein discuss why so many ideas in the Bitcoin world are terrible investments and pitch a startup of their own.
</p>

<p>
  Related links:
</p>

<ul>
  <li><a href="http://nakamotoinstitute.org/mempool/the-correct-strategy-of-bitcoin-entrepreneurship/">"The Correct Strategy of Bitcoin Entrepreneurship"</a> by Daniel Krawisz</li>

  <li><a href="http://nakamotoinstitute.org/mempool/everyones-a-scammer/">"Everyone's a Scammer" by Michael Goldstein</li>

  <li><a href="https://bitcointalk.org/index.php?topic=576337">"List of Major Bitcoin Heists, Thefts, Hacks, Scams, and Losses"</a> by dree12</li>
</ul>

{%endblock%}