.thread-post {
  border: 2px solid $post-border;
  margin-bottom: $post-padding;
  font-size: 0.9em;

  &__header {
    &--highlight {
      background-color: $post-highlight;
    }
  }

  &__poster-info {
    border-bottom: $post-inner-border;
    padding: $post-padding-half $post-padding;
  }

  &__post-info {
    padding: $post-padding-half $post-padding;
  }

  &__post-subject {
    margin: 0 0 $post-padding-half;
  }

  &__email-replies-links {
    border-top: $post-inner-border;
    padding: $post-padding-half $post-padding;
  }

  &__body {
    border-top: $post-inner-border;
    border-bottom: $post-inner-border;
    padding: $post-padding;

    a {
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
    img {
      max-width: 100%;
    }
  }

  &__footer {
    padding: $post-padding-half $post-padding;
  }

  &--gray {
    background-color: $gray;
  }

  &--nested {
    border: 2px solid $post-border;
    position: relative;
  }

  &--nested-1 {
    margin-left: $thread-post-margin;
  }

  &--nested-2 {
    margin-left: calc(#{$thread-post-margin} * 2);
  }

  &--nested-3 {
    margin-left: calc(#{$thread-post-margin} * 3);
  }

  &--first:before {
    content: "\021B3";
    position: absolute;
    left: calc(-1 * #{$thread-post-margin} - 2px);
  }
}
