{% extends "base.html" %}

{% block title %}
{{email.subject}} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center">
    {% if previous_email != None %}
    <a href="{{url_for('satoshi.emails.detail', source=previous_email['source'], email_id=previous_email['satoshi_id'])}}">Previous</a> |
    {% endif %}
    <a href="{{url_for('satoshi.emails.index')}}">Index</a>
    {% if next_email != None %}
    | <a href="{{url_for('satoshi.emails.detail', source=next_email['source'], email_id=next_email['satoshi_id'])}}">Next</a>
    {% endif %}
  </div>
  <span id="CONTENT">
    <div>
      <h5>{{email.email_thread.source_to_string()}}</h5>
      <h4>{{email.subject}}</h4>
      {% set email_source = email.email_thread.source %}
      {% set thread_id = email.email_thread.id %}
      <h5>
        <em>{{email['date']}} UTC</em>
        <small>
          - <a href="{{email['url']}}">Original Email</a>
          - <a href="{{url_for('satoshi.emails.detail_thread', source=email_source, thread_id=thread_id)}}#{{email.source_id}}">View in Thread</a>
        </small>
      </h5>
      <div class="email-text-monospace">{{email['text']|replace("\n", "<br />")|safe}}</div>
		</div>
	</span>
  <br>
  <div class="text-center">
    {% if previous_email != None %}
    <a href="{{url_for('satoshi.emails.detail', source=previous_email['source'], email_id=previous_email['satoshi_id'])}}">Previous</a> |
    {% endif %}
    <a href="{{url_for('satoshi.emails.index')}}">Index</a>
    {% if next_email != None %}
    | <a href="{{url_for('satoshi.emails.detail', source=next_email['source'], email_id=next_email['satoshi_id'])}}">Next</a>
    {% endif %}
  </div>
</div>
{%endblock%}
