{% extends "base.html" %}

{% block title %}
{{emails[0].email_thread.title}} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
{% set satoshi_only = request.args.get('view') == 'satoshi' -%}
<div class="container">
  <div class="text-center">
    <a href="{{url_for('satoshi.emails.index_threads')}}">All Email Threads</a>
    <br>
    {% if previous_thread != None %}
      {% if satoshi_only %}
      <a href="{{url_for('satoshi.emails.detail_thread', thread_id=previous_thread['id'], source=previous_thread['source'], view='satoshi')}}">Previous</a> |
      {% else %}
      <a href="{{url_for('satoshi.emails.detail_thread', thread_id=previous_thread['id'], source=previous_thread['source'])}}">Previous</a> |
      {% endif %}
    {% endif %}
    <a href="{{url_for('satoshi.emails.threads', source=emails[0].email_thread['source'])}}">Back</a>
    {% if next_thread != None %}
      {% if satoshi_only %}
      | <a href="{{url_for('satoshi.emails.detail_thread', thread_id=next_thread['id'], source=next_thread['source'], view='satoshi')}}">Next</a>
      {% else %}
      | <a href="{{url_for('satoshi.emails.detail_thread', thread_id=next_thread['id'], source=next_thread['source'])}}">Next</a>
      {% endif %}
    {% endif %}
  </div>
  <div class="text-center">
    <h2>
      <small>{{emails[0].email_thread.source_to_string()}}</small></br>
      {{emails[0].email_thread.title}}
    </h2>
    <p>
      {% if satoshi_only %}
      <a href=".">View all emails</a>
      {% else %}
      <a href="?view=satoshi">View Satoshi only</a>
      {% endif %}
    </p>
    <p><a href="{{emails[0].email_thread.url}}">External link</a></p>
  </div>
  <div>
  {% for email in emails %}
    <div class="thread-post {{loop.cycle('', 'thread-post--gray')}} " id="{{email.source_id}}">
      <div class="thread-post__header{% if email.satoshi_id and not satoshi_only %} thread-post__header--highlight{% endif %}">
        <div class="thread-post__poster-info">
          <div>
            <strong>From: {{email.sent_from}}</strong>
          </div>
          <div>
            <a href="#{{email.source_id}}">#{{email.source_id}}</a>
          </div>
        </div>
        <div class="thread-post__post-info">
          <h5 class="thread-post__subject">{{email.subject}}</h5>
          <span>{{email.date.strftime('%B %d, %Y, %I:%M:%S %p')}}</span>
        </div>
        {% if not satoshi_only and emails|length != 1 %}
        {% if email.parent or email.replies.all() %}
        <div class="thread-post__email-replies-links">
          {% if email.parent %}
          <div>
            Replying to: <a href="#{{email.parent.source_id}}">&gt;&gt;{{email.parent.source_id}}</a>
          </div>
          {% endif %}
          {% if email.replies.all() %}
          <div>
            Replies:
            {% for reply in email.replies.all() %}
            <a href="#{{reply.source_id}}">&gt;&gt;{{reply.source_id}}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endif %}
      </div>
      <div class="thread-post__body">
        <div class="email-text-monospace">{{email.text|replace("\n", "<br />")|safe}}</div>
      </div>
      <div class="thread-post__footer">
        <div>
          <a href="{{email.url}}">External link</a>
        </div>
        {% if email.satoshi_id %}
        <div>
          <a href="{{url_for('satoshi.emails.detail', email_id=email['satoshi_id'],source=email.email_thread['source'])}}">Permalink</a>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
  <br>
  <div class="text-center">
    {% if previous_thread != None %}
      {% if satoshi_only %}
      <a href="{{url_for('satoshi.emails.detail_thread', thread_id=previous_thread['id'], source=previous_thread['source'], view='satoshi')}}">Previous</a> |
      {% else %}
      <a href="{{url_for('satoshi.emails.detail_thread', thread_id=previous_thread['id'], source=previous_thread['source'])}}">Previous</a> |
      {% endif %}
    {% endif %}
    <a href="{{url_for('satoshi.emails.threads', source=emails[0].email_thread['source'])}}">Back</a>
    {% if next_thread != None %}
      {% if satoshi_only %}
      | <a href="{{url_for('satoshi.emails.detail_thread', thread_id=next_thread['id'], source=next_thread['source'], view='satoshi')}}">Next</a>
      {% else %}
      | <a href="{{url_for('satoshi.emails.detail_thread', thread_id=next_thread['id'], source=next_thread['source'])}}">Next</a>
      {% endif %}
    {% endif %}
    <br>
    <a href="{{url_for('satoshi.emails.index_threads')}}">All Threads</a>
  </div>
</div>
{% endblock %}
