{% extends "base.html" %}

{% set title = "Emails" %}
{% if source=="cryptography" %}
{% set title="Cryptography Mailing List Emails" %}
{% elif source=="bitcoin-list" %}
{% set title="bitcoin-list Emails" %}
{% endif %}

{% block title %}
{{title}} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-4">
    <h1>{{title}}</h1>
    {% if source=="cryptography" %}
      <a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">View threads</a><br>
    	<a href="{{url_for('satoshi.emails.index')}}">All Emails</a>
      (<a href="{{url_for('satoshi.emails.index_threads')}}">Threads</a>) |
      <a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">Threads</a>)
  	{% elif source=="bitcoin-list" %}
      <a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">View threads</a><br>
    	<a href="{{url_for('satoshi.emails.index')}}">All Emails</a>
      (<a href="{{url_for('satoshi.emails.index_threads')}}">Threads</a>) |
      <a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">Threads</a>)
  	{% else %}
      <a href="{{url_for('satoshi.emails.index_threads')}}">View threads</a><br>
    	<a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">Threads</a>) |
      <a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">Threads</a>)
  	{% endif %}
  </div>
  <ul>
  {% for email in emails %}
    <li><a href="{{url_for('satoshi.emails.detail', source=email['source'], email_id=email['satoshi_id'])}}">{{email['subject']}}</a> <em>({{email['date']}} UTC)</em></li>
  {% endfor %}
  </ul>
  <div class="text-center mb-4">
    {% if source=="cryptography" %}
    	<a href="{{url_for('satoshi.emails.index')}}">All Emails</a>
      (<a href="{{url_for('satoshi.emails.index_threads')}}">Threads</a>) |
      <a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">Threads</a>)<br>
      <a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">View threads</a>
  	{% elif source=="bitcoin-list" %}
    	<a href="{{url_for('satoshi.emails.index')}}">All Emails</a>
      (<a href="{{url_for('satoshi.emails.index_threads')}}">Threads</a>) |
      <a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">Threads</a>)<br>
      <a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">View threads</a>
  	{% else %}
    	<a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">Threads</a>) |
      <a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">Threads</a>)<br>
      <a href="{{url_for('satoshi.emails.index_threads')}}">View threads</a>
  	{% endif %}
  </div>
  <a href="{{url_for('satoshi.index')}}">Main index</a>
</div>
{%endblock%}
