{% extends "base.html" %}

{% set title = "Email" %}
{% if source=="cryptography" %}
{% set title="Cryptography Mailing List" %}
{% elif source=="bitcoin-list" %}
{% set title="bitcoin-list" %}
{% endif %}

{% block title %}
{{title}} Threads | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-4">
    <h1>{{title}} Threads</h1>
    {% if source=="cryptography" %}
      <a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">View emails</a><br>
      <a href="{{url_for('satoshi.emails.index_threads')}}">All Threads</a>
      (<a href="{{url_for('satoshi.emails.index')}}">Emails</a>) |
      <a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">Emails</a>)
    {% elif source=="bitcoin-list" %}
      <a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">View posts</a><br>
      <a href="{{url_for('satoshi.emails.index_threads')}}">All Threads</a>
      (<a href="{{url_for('satoshi.emails.index')}}">Emails</a>) |
      <a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Emails</a>)
    {% else %}
      <a href="{{url_for('satoshi.emails.index')}}">View emails</a><br>
      <a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Emails</a>) |
      <a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">Emails</a>)
    {% endif %}
  </div>
  {% if not source %}
    <h3>Cryptography Mailing List</h3>
    <ul>
      {% for thread in cryptography_threads %}
      <li>
        <a href="{{url_for('satoshi.emails.detail_thread', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('satoshi.emails.detail_thread', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.emails[0]['date']}} UTC)</em>
      </li>
      {% endfor %}
    </ul>
    <h3>bitcoin-list</h3>
    <ul>
      {% for thread in bitcoin_list_threads %}
      <li>
        <a href="{{url_for('satoshi.emails.detail_thread', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('satoshi.emails.detail_thread', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.emails[0]['date']}} UTC)</em>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <ul>
    {% for thread in threads %}
      <li>
        <a href="{{url_for('satoshi.emails.detail_thread', source=thread['source'], thread_id=thread['id'])}}">{{thread['title']}}</a>
        [<a href="{{url_for('satoshi.emails.detail_thread', source=thread['source'], thread_id=thread['id'], view='satoshi')}}">Satoshi only</a>]
        <em>({{thread.emails[0]['date']}} UTC)</em></li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="text-center mb-4">
    {% if source=="cryptography" %}
      <a href="{{url_for('satoshi.emails.index_threads')}}">All Threads</a>
      (<a href="{{url_for('satoshi.emails.index')}}">Emails</a>) |
      <a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">Emails</a>)<br>
      <a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">View emails</a>
    {% elif source=="bitcoin-list" %}
      <a href="{{url_for('satoshi.emails.index_threads')}}">All Threads</a>
      (<a href="{{url_for('satoshi.emails.index')}}">Emails</a>) |
      <a href="{{url_for('satoshi.emails.threads', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Emails</a>)<br>
      <a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">View posts</a>
    {% else %}
      <a href="{{url_for('satoshi.emails.index', source='cryptography')}}">Cryptography</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='cryptography')}}">Emails</a>) |
      <a href="{{url_for('satoshi.emails.threads', source='bitcoin-list')}}">bitcoin-list</a>
      (<a href="{{url_for('satoshi.emails.index_source', source='bitcoin-list')}}">Emails</a>)<br>
      <a href="{{url_for('satoshi.emails.index')}}">View emails</a>
    {% endif %}
  </div>
  <a href="{{url_for('satoshi.index')}}">Main index</a>
</div>
{% endblock %}
