{% extends "base.html" %}

{% block title %}
Hal Finney | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center border-bottom mb-4 pb-2">
    <h1 class="mb-2">Hal Finney</h1>
    <h4 class="text-muted font-weight-normal">May 4, 1956 – August 28, 2014</h4>
  </div>
  <p>Hal Finney was a software engineer and an early member of the Cypherpunks. Finney was a notable advocate of cryptography and digital privacy. He worked for the PGP Corporation, where he developed some of the earliest PGP code. He also built the first <a href="https://en.wikipedia.org/wiki/Anonymous_remailer#Cypherpunk_remailers.2C_also_called_Type_I">anonymous remailer</a>, the first proof-of-work based digital cash system, RPOW (Reusable Proofs of Work), and received the very first Bitcoin transaction sent by Satoshi Nakamoto. Hal died of Amyotrophic Lateral Sclerosis (ALS) in 2014 and was cryopreserved by the Alcor Life Extension Foundation.</p>
  <hr class="my-4" />
  <h3>Literature</h3>
  {% for doc in docs %}
  <p><a href="{{url_for('main.doc_view', slug=doc.slug)}}">{{doc.title}}</a></p>
  {% endfor %}
  <h3>Code</h3>
  <p><a href="{{url_for('finney.rpow.index')}}">RPOW - Reusable Proofs of Work</a></p>
</div>
{% endblock %}
