{% extends "base.html" %}

{% block title %}
{{post.subject}} | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
	<div class="text-center">
    <a href="{{url_for('satoshi.posts.index')}}">All Posts</a>
    <br>
    {% if previous_post != None %}
  	<a href="{{url_for('satoshi.posts.detail', post_id=previous_post['satoshi_id'], source=previous_post.forum_thread['source'])}}">Previous</a> |
  	{% endif %}
  	<a href="{{url_for('satoshi.posts.index_source', source=post.forum_thread['source'])}}">Back</a>
  	{% if next_post != None %}
  	| <a href="{{url_for('satoshi.posts.detail', post_id=next_post['satoshi_id'], source=next_post.forum_thread['source'])}}">Next</a>
		{% endif %}
	</div>
	<span id="CONTENT">
		<div class="my-4">
			<h5>{{post.forum_thread.source_to_string()}}</h5>
			<h4>{{post.subject}}</h4>
			{% set post_source = post.forum_thread.source %}
      {% set thread_id = post.forum_thread.id %}
			<h5>
        <em>{{post['date']}} UTC</em>
				<small>
	        - <a href="{{post['url']}}">Original Post</a>
	        - <a href="{{url_for('satoshi.posts.detail_thread', source=post_source, thread_id=thread_id)}}#{{post.post_num}}">View in Thread</a>
				</small>
			</h5>
			{{post['text']|safe}}
		</div>
	</span>
	<div class="text-center">
	{% if previous_post != None %}
  	<a href="{{url_for('satoshi.posts.detail', post_id=previous_post['satoshi_id'], source=previous_post.forum_thread['source'])}}">Previous</a> |
  	{% endif %}
  	<a href="{{url_for('satoshi.posts.index_source', source=post.forum_thread['source'])}}">Back</a>
  	{% if next_post != None %}
  	| <a href="{{url_for('satoshi.posts.detail', post_id=next_post['satoshi_id'], source=next_post.forum_thread['source'])}}">Next</a>
    {% endif %}
		<br>
    <a href="{{url_for('satoshi.posts.index')}}">All Posts</a>
  </div>
</div>
{% endblock %}
