{% extends "base.html" %}

{% block title %}
Code | Satoshi Nakamoto Institute
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center border-bottom mb-4 pb-2">
    <h1>Code</h1>
    <p>
      This page contains files for the first three available Bitcoin codebases written by Satoshi Nakamoto. Version control and releases from v0.1.5 onward can be viewed in the <a href="https://github.com/bitcoin/bitcoin/releases">Bitcoin GitHub repository</a>.
    </p>
  </div>
  <div>
    <h2>Bitcoin Pre-Release</h2>
    <dl class="row">
      <dt class="col-sm-3 text-sm-right">Date</dt>
      <dd class="col-sm-9">November 16, 2008</dd>
      <dt class="col-sm-3 text-sm-right">Download</dt>
      <dd class="col-sm-9">
        <ul class="list-unstyled">
          <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-nov08.tgz"><strong>bitcoin-nov08.tgz</strong></a> (Compressed by SNI)</li>
          <ul class="list-unstyled" style="padding-left:2.5em">
            <li>MD5: <code class="font-wrap">e9492e326512b55208c7d9f1db23e35a</code></li>
            <li>SHA1: <code class="font-wrap">466e67a3ce0f7e0ca3661e6fb5e72b874015b0b7</code></li>
          </ul>
        </ul>
      </dd>
      <dt class="col-sm-3 text-sm-right">Source</dt>
      <dd class="col-sm-9"><a class="font-wrap" href="https://bitcointalk.org/index.php?topic=382374.0">https://bitcointalk.org/index.php?topic=382374.0</a></dd>
    </dl>
  </div>
  <div>
    <h2>Bitcoin v0.1.0</h2>
    <dl class="row">
      <dt class="col-sm-3 text-sm-right">Date</dt>
      <dd class="col-sm-9">January 9, 2009</dd>
      <dt class="col-sm-3 text-sm-right">Download</dt>
      <dd class="col-sm-9">
        <ul class="list-unstyled">
          <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-0.1.0.rar"><strong>bitcoin-0.1.0.rar</strong></a></li>
          <ul class="list-unstyled" style="padding-left:2.5em">
            <li>MD5: <code class="font-wrap">91e2dfa2af043eabbb38964cbf368500</code></li>
            <li>SHA1: <code class="font-wrap">ec9ed4ccbc990eceb922ff0c4d71d1ad466990dd</code></li>
          </ul>
          <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-0.1.0.tgz"><strong>bitcoin-0.1.0.tgz</strong></a></li>
          <ul class="list-unstyled" style="padding-left:2.5em">
            <li>MD5: <code class="font-wrap">dca1095f053a0c2dc90b19c92bd1ec00</code></li>
            <li>SHA1: <code class="font-wrap">35f83eaa334e0e447ceea77a7cc955a4ccdd1a1d</code></li>
          </ul>
        </ul>
      </dd>
      <dt class="col-sm-3 text-sm-right">Release notes</dt>
      <dd class="col-sm-9"><a href="{{url_for('satoshi.emails.detail', source='cryptography', email_id=16)}}">Cryptography Mailing List</a></dd>
      <dt class="col-sm-3 text-sm-right">Source</dt>
      <dd class="col-sm-9"><a class="font-wrap" href="https://bitcointalk.org/index.php?topic=68121.0">https://bitcointalk.org/index.php?topic=68121.0</a></dd>
    </dl>
  </div>
  <div>
    <h2>Bitcoin v0.1.3</h2>
    <dl class="row">
      <dt class="col-sm-3 text-sm-right">Date</dt>
      <dd class="col-sm-9">January 14, 2009 (<a href="https://bitcointalk.org/index.php?topic=49815.msg593132#msg593132">?</a>)</dd>
      <dt class="col-sm-3 text-sm-right">Download</dt>
      <dd class="col-sm-9">
        <ul class="list-unstyled">
          <li><a href="https://s3.amazonaws.com/nakamotoinstitute/code/bitcoin-0.1.3.rar"><strong>bitcoin-0.1.3.rar</strong></a></li>
          <ul class="list-unstyled" style="padding-left:2.5em">
            <li>MD5: <code class="font-wrap">9a73e0826d5c069091600ca295c6d224</code></li>
            <li>SHA1: <code class="font-wrap">294c684fbaa13ae2662e612e98d288bde0ba2b88</code> (Calculated by SNI)</li>
          </ul>
        </ul>
      </dd>
      <dt class="col-sm-3 text-sm-right">Source</dt>
      <dd class="col-sm-9"><a class="font-wrap" href="https://bitcointalk.org/index.php?topic=68121.msg814283#msg814283">https://bitcointalk.org/index.php?topic=68121.msg814283#msg814283</a></dd>
    </dl>
  </div>
</div>
{%endblock%}
