{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block title %}
{% if blog_post.series %}
{% if blog_post.series.chapter_title %}Chapter {{blog_post.series_index}}: {% endif %}{{ page.meta.translated_title or blog_post.title }} | {{ blog_post.series }} | Satoshi Nakamoto Institute
{% else %}
{{ page.meta.translated_title or blog_post.title }} | Satoshi Nakamoto Institute
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="border-bottom mb-3 pb-4 text-center">
		{% if blog_post.series %}
		<h3><a href="{{url_for('mempool.series.detail', slug=blog_post.series.slug)}}">{{blog_post.series}}</a>{% if not blog_post.series.chapter_title %} (#{{blog_post.series_index}}){% endif %}</h3>
		{% endif %}
		<h1>{% if blog_post.series and blog_post.series.chapter_title %}Chapter {{blog_post.series_index}}: {% endif %}{{ page.meta.translated_title or blog_post.title }}</h1>
		<h2 class="text-muted">{{blog_post.author[0]}}</h2>
    <h4>{{blog_post.date|dateformat(language=language.ietf)}}</h4>
		{% if page.meta.original_link %}
		<p>
      <em>First published on <a href="{{ page.meta.original_link }}">{{ page.meta.original_site }}</a></em>
    </p>
		{% endif %}
		{% if page.meta.image %}
			{% if not page.meta.original_link %}
			<br>
			{% endif %}
			<img class="img-fluid rounded d-block mx-auto" alt="{{page.meta.image_alt}}" src="{{url_for('static', filename='img/mempool/' ~ blog_post.slug ~ '/' ~ page.meta.image)}}" />
		{% endif %}
	</div>
	{% if rtl %}
	<div class="text-right" dir="rtl">
	{% endif %}
  <span id="CONTENT" class="blogpost-content">{{ page.html|safe }}</span>
	{% if rtl %}
	</div>
	{% endif %}
	{% if translations or language.ietf != 'en' %}
		<hr>
		{% if language.ietf != 'en' %}
		<p>{{ helpers.print_translation_info(page, translators) }}</p>
		{% endif %}
		<p>{{ helpers.print_translation_links(blog_post, translations) }}</p>
	{% endif %}
	{% if blog_post.series %}
	<div class="d-flex justify-content-between">
		{% if previous_post %}<span class="mr-4">&larr;&nbsp<a href="{{url_for('mempool.detail', slug=previous_post.slug)}}">{{previous_post.title}}</a></span>{% endif %}
		{% if next_post %}<span class="ml-auto"><a href="{{url_for('mempool.detail', slug=next_post.slug)}}">{{next_post.title}}</a>&nbsp;&rarr;</span>{% endif %}
	</div>
	<div class="text-center my-4">
		<a type="button" class="btn btn-light" href="{{url_for('mempool.series.detail', slug=blog_post.series.slug)}}" style="white-space:normal;">
			Back to <em>{{blog_post.series.title}}</em>
		</a>
	</div>
	{% endif %}
	<div class="text-center my-4">
		<a type="button" class="btn btn-light" href="{{url_for('mempool.index')}}">
			Back to the Memory Pool
		</a>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEblog_post.GE * * */
	   	var disqus_shortname = 'nakamotoinstitute'; // required: replace example with your forum shortname
	   	{% if language.ietf == 'en' %}
	   		var disqus_identifier = '{{blog_post.slug}}';
	   		var disqus_title = '{{blog_post.title}}';
	   		var disqus_url = "{{url_for('mempool.detail', slug=blog_post.slug, _external=True)}}";
	   	{% else %}
	   		var disqus_identifier = '{{blog_post.slug}}-{{language.ietf}}';
	   		var disqus_title = '{{blog_post.title}} ({{language.ietf}})'
	   		var disqus_url = "{{url_for('mempool.detail_translation', slug=blog_post.slug, language=language.ietf, _external=True)}}";
	   	{% endif %}

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

{% endblock %}
